[2017-04-13 07:58] adam-be commented on #438
I believe the behaviour is specified by this text (applyConstraints algorithm step 3.3):

[code]

So if a constraint is set by a first call to applyConstraints, it's wiped by the next call if not re-specified. We could clarify this in an info box.

[2017-04-13 09:24] stefhak commented on #443
Closing based on the above.

[2017-04-13 09:24] #443 closed

[2017-04-13 09:25] stefhak commented on #444
As noted in #445 we should take this to the list.

[2017-04-13 22:09] aboba commented on #441
@youennf If we are talking about "sending" then this relates to the RtpSender object (WebRTC), not media capture.

[2017-04-13 22:14] youennf commented on #441
I think it belongs here.

Sending is a way that allows showing the difference in behavior.
MediaStream Recorder API might also show the difference.

[2017-04-13 22:27] youennf commented on #441
Or the spec should ask each consumer to define its own behavior if we think that different consumers might have different behaviors.

[2017-04-14 13:26] ibc opened #447 "Need more attributes in MediaDeviceInfo"
Let assume an app in which the user can choose the webcam device in a drop list and get a preview of it. If he selects a front camera, the preview `<video>` element must enable CSS `transform: scaleX(-1);` (mirror effect). If he selects a back/rear camera, no mirror effect must be applied.

This seems to be a very common scenario. But AFAIK it's unfeasible with the current API.

The drop list is f

[2017-04-17 21:45] fluffy opened #448 "Way to generate synthetic data for automated testing"
Developers I were talking to want the API to support a way to generate synthetic traffic for testing on machines that do not have a microphone or camera.  (Firefox for example has the fake:true constraint).

[2017-04-20 14:06] #438 closed

[2017-04-20 14:15] adam-be commented on #448
Would generating a MediaStream from a video element [1] be sufficient for these cases?

[1] https://w3c.github.io/mediacapture-fromelement/

[2017-04-21 06:27] stefhak commented on #447
I think you should call `track.getSettings()` if you want to read out e.g. the facingMode.

[2017-04-21 11:30] ibc commented on #447
Certainly I missed `track.getSettings()`.  Hope browsers properly implement it soon, as no one of them provide the `facingMode` setting.

The spec is ok then. It's just lack of implementation in browsers. Closing the issue. Thanks.

[2017-04-21 11:30] #447 closed

[2017-04-21 11:48] stefhak commented on #447
Do you plan to file issues on Chrome & Firefox? Would be interesting to know their implementation plan.

[2017-04-21 13:20] ibc commented on #447
Yes, I'll do eventually and update here when done.

[2017-04-27 07:47] adam-be commented on #448
ping @fluffy

[2017-04-27 14:36] #396 closed

[2017-04-28 02:20] ShijunS commented on #444
Could someone share any developer docs related to implementations in Chrome and Firefox? Maybe @jan-ivar, @guidou?

I hope they are not implemented specific for WebRTC - the control knobs should be in WebRTC otherwise.  In addition, if you expect it will benefit WebAudio, it'd be helpful to get some feedback from some Audio WG experts.

[2017-04-28 23:15] jan-ivar commented on #444
@ShijunS Not sure what you mean with docs. It's implemented solely in gUM. Try it in Firefox [here](https://jsfiddle.net/jib1/c1pLd061/).

[2017-04-30 10:37] ShijunS commented on #444
@jan-ivar, I was hoping you'd have MDN pages to inform web developers how to use the constraints. For Edge, both AGC and NS are integrated internally with the RTC stack - it won't make sense for developers to turn them off. From FF perspective, what are the typical scenarios other than RTC where you would enable the functionality.  It'd be nice to get a couple examples of actual major websites doi

[2017-04-30 15:58] jan-ivar commented on #444
MDN tries to [document the web standard](https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackSettings), not the firefox implementation. But given what [MDN says for echoCancellation](https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackSettings/echoCancellation) I wouldn't expect any MDN entry to say much more than this PR.

Odd that [the fiddle](https://jsfiddle.net/jib1/c1pLd061/) d

[2017-04-30 16:38] ShijunS commented on #444
I've been traveling in the past few days, will test on more systems when back to office. It could be totally a test problem on my end, so should not block the discussion.

@jan-ivar, what is your opinion on defining the default values of the constraints? Would they be different based consuming target objects? I'd like to make sure we don't break existing use case like WebRTC.

[2017-04-30 21:18] jan-ivar commented on #444
@ShijunS Constraints don't have defaults, by design. Unconstrained == UA chooses. Constraints are externalized (app) requirements letting UAs change device properties as they sees fit within the net envelope of all constraints put on it.

So basically, as a user of the API, if I care about a property, I should constrain it. If I don't care, I shouldn't have expectations of what value it'll have.

[2017-05-02 12:58] ShijunS commented on #444
@jan-ivar, could you provide examples of actual major websites using the proposed constraints? I hope it will be a strong supporting evidence for adding the new features to the spec.

[2017-05-02 22:39] jan-ivar commented on #444
@ShijunS Usually we look at usage when we're deciding between standardizing a legacy API or deprecating it. The [chromium issue](https://groups.google.com/a/chromium.org/d/msg/blink-dev/mba5ziDLFU4/3MGCjHvSDgAJ) I linked to earlier discusses the latter, and boils down to that they haven't added counters yet, and that usage in httparchive looks low.

But we're not trying to standardize `googAutoGai

[2017-05-02 22:58] ShijunS commented on #444
@Jan-Ivar, agree not to predict the popularity. I personally can see value of the constraints, although it'd be nice to know if the prefixed versions are widely used already. Meanwhile, I am also looking for a real website that can show a reasonable consistency between the two implementations. So, it'd be great if there is one.

Meanwhile, I wonder if you could share your thoughts on how the propo

[2017-05-03 12:33] jan-ivar commented on #444
The httparchive hit counters in the [chromium link](https://groups.google.com/a/chromium.org/d/msg/blink-dev/mba5ziDLFU4/nXCpmpNGBAAJ) were low (which is good or we'd have to consider standardizing the vendor prefixes!) - That said, they were the most popular of the `goog` constraints (56, 57), short of `chromeMediaSource` (68).

In other words, they're (almost) as popular as Google's screen-shari

[2017-05-03 16:41] ShijunS commented on #444
Given there is evidence that the vendor-prefixed version of the constraints are being used, I agree it'd be nice if both Chrome and FF can update the API implementation so developers can have consistent experience. @stefhak, I hope the chairs can comment whether to include new features to the spec at this point.

Meanwhile, @Jan-Ivar, please summarize the following based on the FF implementation e

[2017-05-03 18:16] jan-ivar commented on #444
@ShijunS Not sure what you mean with interop. Like echoCancellation, these are opaque abstractions of UA features. Sites can turn each setting on or off, and hopefully be content with the result being superior to the alternative setting.

I don't think they need to sound the same for there to be interop. Nothing in the spec mandates how UAs implement e.g. echoCancellation, nor how or when constrai

[2017-05-04 14:55] stefhak commented on #448
Closing since @fluffy hasn't come back.

[2017-05-04 15:30] taylor-b commented on #441
I think I see where Bernard is coming from. WebRTC is ultimately responsible for defining how a MediaStreamTrack is encoded/transmitted. So WebRTC could encode 1 frame per second even while the MediaRecorder sees 30 frames per second.

But putting aside the question of which spec this should go in: I'd suggest saying that the implementation MAY lower the frame rate/increase the packetization inter

[2017-05-04 21:45] jan-ivar commented on #441
@taylor-b I believe the change was a side-effect of us merging in a newer upstream version of webrtc.org; unintentional on our part.

WebRTC [already has language](http://w3c.github.io/webrtc-pc/#rtcrtpsender-interface) that senders may "MAY ... rescale or resample" media. This means stats don't conclusively reveal mediacapture mute behavior. The MAY also means the sender behavior is implementatio

[2017-05-04 22:37] youennf commented on #441
In case of local playback, there is no need to mandate anything currently.
In case of webrtc, there will be cases where the webrtc backend will stop receiving frames (track being muted, manual canvas capture stream).
My main concern is whether an implementation choice (in this case not sending redundant frames) might cause interop troubles if the infrastructure is not expecting that kind of scenar

[2017-05-04 22:56] jan-ivar commented on #441
Do you mean wire interop? If so, that may be more of an ietf thing. E.g. maybe that's why Firefox appears to send 1 packet/second even though the frame rate is supposedly zero (unless the zero `mozPaintedFrames` is an artifact of some local render-pipeline optimization).

[2017-05-06 13:13] fluffy commented on #448
Is there a way they can get an audio stream too? It might be good to have in the spec a pointer to ways they might do this.

[2017-05-08 10:15] adam-be commented on #448
Looking at [1], an app should be able to capture audio tracks from both `<video>` and `<audio>` elements.

[1] https://w3c.github.io/mediacapture-fromelement/

[2017-05-12 08:23] fippo opened #451 "error for dismissing the getUserMedia prompt?"
Chrome currently allows the user to dismiss (and this is covered by the permissions spec) the getUserMedia prompt which results in a PermissionDismissedError.

Is there a spec error this can be mapped to?
(I also found it hard to collect the list of possible errors :-/)

[2017-05-15 18:34] beaufortfrancois opened #452 "FR: Add a getUserMedia constraint to get a mirrored version of the video stream"
When using { facingMode: 'user' }, it would be nice if I could also specify that I want a mirrored version of the video stream.

[code]

[2017-05-17 04:43] yellowdoge commented on #448
https://github.com/w3c/mediacapture-main/issues/448#issuecomment-299828589 is correct, both audio and video should appear as MediaStreamTracks.  In Chromium we use [`<canvas>.captureStream()`](https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/imagecapture/MediaStreamTrack-getSettings.html?l=30) for testing.

[2017-05-17 10:48] guidou opened #453 "How to handle changes to the set of tracks in a MediaStream assigned to an element via the srcObject attribute"
The spec says:

However, the exact mechanism for this is not explained.

I tested adding and removing tracks to a stream with Edge, and it apparently runs the [https://html.spec.whatwg.org/multipage/embedded-content.html#media-element-load-algorithm](load algorithm) every time the set of tracks changes, since it fires the emptied and loadstart events on track addition/removal.

On Firefox, adding

[2017-05-17 11:14] foolip commented on #453
@ShijunS @jan-ivar @youennf, can you comment or find others for Edge/Gecko/WebKit who could?

[2017-05-17 12:54] stefhak commented on #453
Thanks @guidou for starting to test this. I did write some of the spec parts, but I do think there may be gaps and unclear things there (not to mention that the media element and the track lists seemed to move a bit as well).

My intention at the time of writing was that adding and removing tracks would be equivalent with how it works if a file is allocated (using ```src = ```) to a video element,

[2017-05-17 15:30] Pehrsons commented on #453
Good that you bring this up @guidou. When doing some work in this area for Gecko I found the most sensible approach was to:
- for a new track
  - Run through the steps under `If the media resource is found to have an (audio|video) track` in the [resource fetch algorithm](https://www.w3.org/TR/html51/semantics-embedded-content.html#resource-fetch-algorithm)
- for a removed track
  - if the removed

[2017-05-17 16:04] ShijunS commented on #453
The MSE spec allows some [flexibility](https://w3c.github.io/media-source/#dom-mediasource-addsourcebuffer).

In case user agent allows new SourceBuffer or track to be added/removed, it'd make sense for the user agent to go through the load algorithm and trigger corresponding events.  Apps can listen to the events and update the app UI accordingly.  This seems a good topic to bring to the MSE folk

[2017-05-17 16:09] youennf commented on #453
In WebKit, there should be no difference between MSE, gum, and peer connection media streams.
Implementation should react to addition/removal of tracks as described by @Pehrsons.

[2017-05-17 16:23] ShijunS commented on #453
That sounds the right behavior given the user agent will fire loadedmetadata and loadeddata events, etc. due to the track change.

[2017-05-17 17:01] stefhak commented on #453
@Pehrsons : I was thinking about the text saying ```An AudioTrackList object represents a dynamic list of zero or more audio tracks...``` (and for video) in https://www.w3.org/TR/html51/semantics-embedded-content.html#audiotracklist-and-videotracklist-objects. I did not know all tracks had to be known from the start.

[2017-05-17 19:35] jan-ivar opened #454 "Should we be clearer about what's legacy?"
The WebRTC spec has a section called [4.3.3 Legacy Interface Extensions](http://w3c.github.io/webrtc-pc/#legacy-interface-extensions). This seems informative.

Would the mediacapture spec benefit from similar language?

Right now, the word "legacy" only appears in a note in [10.1 NavigatorUserMedia Interface Extensions](https://w3c.github.io/mediacapture-main/getusermedia.html#navigatorusermedia-i

[2017-05-17 19:47] fluffy commented on #448
Yes, I think this meets the needs. Would it be possible to put a bit of text pointing this out in the spec? I think that would help some people

[2017-05-17 19:50] jan-ivar opened #455 "Mark 'advanced' constraints as legacy?"
Can we mark `advanced` constraints as legacy? Doing so might help explain the redundancy in the spec, and point people toward the semantically simpler syntax the WG arrived at.

We're starting to see people using advanced constraints for things that are not advanced at all, [even in spec examples](https://github.com/w3c/mediacapture-image/pull/175#discussion_r116855344). I wanted to discourage it,

[2017-05-18 08:43] Pehrsons commented on #453
Ah, it does actually mention tracks being added or removed dynamically. That's good. However, I haven't found any language on how to handle such events.

I don't know whether or not this is a strict requirement (it appears not, per above), but for playing a simple file this is true in practice - from parsing container metadata.

[2017-05-18 11:42] burnburn commented on #455
It's not a redundancy.  It gives different functionality than is provided via our ideal and required arguents.  And if people need it, it should not be discouraged.

[2017-05-18 11:44] burnburn commented on #451
This is a really good idea (assuming @aboba and @jan-ivar agree).

[2017-05-18 13:05] fippo commented on #451
also tagging @guidou

[2017-05-18 14:44] #448 closed

[2017-05-18 14:45] #444 closed

[2017-05-18 14:48] burnburn commented on #452
facingMode is about device selection, while mirroring is often a post-processing software action.  This is out of scope for the current spec.  You can usually mirror on rendering.

[2017-05-18 14:57] stefhak commented on #455
I agree to @burnburn here, it's not the same thing, and furthermore I think we should not start removing stuff we have agreed on.

[2017-05-18 18:36] jan-ivar commented on #455
@burnburn Can you give me an example of where it is needed?

[2017-05-19 00:04] jan-ivar commented on #444
@aboba Was there a resolution here I missed?

[2017-05-19 00:05] #455 closed

[2017-05-19 06:00] jan-ivar commented on #451
This error is specific to Chrome's permission model and UX, which uses "Allow", "Block" and "[x]", where the first two are permanent.

Apps probably use it to discern whether Chrome's users have permanently blocked them or not. Unfortunately, this doesn't generalize to other browsers' permission models.

Instead, the [spec](https://w3c.github.io/permissions/#dom-permissions-query) says apps should

[2017-05-19 08:30] foolip commented on #451
@mounirlamouri, do specs normally explicitly hook up errors and promise rejects for denied permissions, or does https://w3c.github.io/permissions/ say something generically that would explain this?

[2017-05-19 15:43] jan-ivar commented on #451
@foolip Explain what? The important bit here is that the [request permission to use](https://w3c.github.io/permissions/#request-permission-to-use) algorithm *"returns either `"granted"` or `"denied"`.* Nothing else.

[2017-05-19 17:03] jan-ivar commented on #444
I had [slides](https://docs.google.com/presentation/d/1zvvSwUGh0gPwJJK277daApy6lEcHqWhMn6INIhZmI0I/edit?ts=590228c9#slide=id.g215ca017bb_0_17) last on the agenda for the May 2nd interim, but we ran out of time to discuss it.

Can we reopen this and tag it `June 2017 interim topic`, preferably at the top this time?

[2017-05-19 17:54] jan-ivar commented on #444
[For context](https://groups.google.com/a/chromium.org/d/msg/blink-dev/mba5ziDLFU4/umAKKVamCAAJ).

[2017-05-19 18:02] ShijunS commented on #444
PR #445 for this was merged already.

[2017-05-24 12:08] klausj opened #457 "Specification to capture unmodified audio"
Current versions of Firefox (53.0.3) and Chrome (58.0.3029.110) preprocess audio capture streams for WebRTC even if the echoCancellation constraint property is set to false. I do not know what the preprocessing exactly does, but it adds some artifacts to the stream. And if we capture stereo the input streams are mixed together to mono,  preprocessed and the processed stream is duplicated. The reco

[2017-05-24 16:00] jan-ivar opened #458 "Revert https://github.com/w3c/mediacapture-main/pull/446"
This should be reverted. This language is redundant, as WebIDL bindings ensure that an empty dictionary is present. It's invariant by design.

[2017-05-24 16:08] jan-ivar commented on #438
In case it's not clear from @adam-be 's [comment](https://github.com/w3c/mediacapture-main/issues/438#issuecomment-293820133), `applyConstraints({})` removes all *your* constraints, leaving the device "unconstrained" if you are the only user.¹

<sub>1) Other tabs may be accessing the same device. Constraints are properties of the app, if you will, not the device. </sub>

[2017-05-24 16:23] jan-ivar commented on #458
This in invariant is why it must be optional as a tail argument. [WebIDL](https://heycam.github.io/webidl/#idl-operations):

*"If the type of an argument is a dictionary type or a union type that has a dictionary as one of its flattened member types, and that dictionary type and its ancestors have no required members, and the argument is either the final argument or is followed only by optional ar

[2017-05-24 20:49] randallb commented on #299
FWIW getSettings looks like it's hitting in Chrome 59.

[2017-05-25 00:14] jan-ivar opened #459 "Clarify that track.stop() is idempotent."
The [stop](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediastreamtrack-stop()) algorithm already seems idempotent in that running it twice would appear to produce no difference from running it once. This matches implementations.

It may be clearer however to make this explicit, e.g. add:

 *2. If track's readyState attribute is ended, then abort these steps.*

since the spec tec

[2017-05-25 06:34] stefhak commented on #458
After reading through the discussion in #438 and the above I agree to your conclusion @jan-ivar.

[2017-05-25 06:42] stefhak commented on #454
This proposal makes sense to me.

[2017-05-25 06:48] stefhak commented on #453
@ShijunS good points in https://github.com/w3c/mediacapture-main/issues/453#issuecomment-302138343. We should probably have something similar (i.e. allow the html media element to throw if it can't handle one more track).

That though brings up the question if we should have similar errors on recorder, peer-connection etc.

[2017-05-25 14:45] stefhak commented on #458
@jan-ivar can you do a PR?

[2017-05-25 14:51] stefhak commented on #454
@jan-ivar can you do a PR?

[2017-05-25 14:52] stefhak commented on #452
Closing per @burnburn 's comment

[2017-05-25 14:52] #452 closed

[2017-05-26 20:15] jan-ivar commented on #458
@stefhak done.

[2017-05-26 20:24] jan-ivar commented on #454
@stefhak Done.

[2017-05-29 20:04] foolip commented on #451
@jan-ivar, sorry, I didn't read the specs first. Looks like https://w3c.github.io/mediacapture-main/#dom-mediadevices-getusermedia() explicitly invokes https://w3c.github.io/permissions/#request-permission-to-use and handles both the "granted" and "denied" return values, which would explain one way of rejecting the promise.

@guidou, if Chrome ever rejects the getUserMedia() promise with anything

[2017-05-30 21:18] yellowdoge opened #462 "MediaStreamTrack.applyConstraints() should resolve the Promise with the applied constraints"
At https://w3c.github.io/mediacapture-main/#dom-constrainablepattern-applyconstraints(), instead of resolving with `void`, it'd be better to resolve with the applied constraints.

[2017-05-30 22:21] yellowdoge commented on #462
+@beaufortfrancois and re. https://crbug.com723251

[2017-06-07 13:38] guidou commented on #451
http://crbug.com/721412 tracks making return errors in Chrome spec compliant.

[2017-06-07 13:42] foolip commented on #451
Thanks @guidou!

[2017-06-16 06:14] shamidrasool opened #464 "[feature] [howTo] getUserMedia from plug n play USB devices"
I wanted to know if it is possible to use any different USB device other than camera or microphone as user input. A gaming joystick, like a standard xbox controller for PC is what I have in mind - to transmit its button pressing and joystick movements in real-time over the RTC data channel to a remote client using the webRTC standard, in sync with the video. If there is any other method, please ad

[2017-06-16 08:55] dontcallmedom commented on #464
Accessing data from a gamepad can be achieved with the [gamepad API](https://w3c.github.io/gamepad/). If you were to need access to raw data from a USB device, the [WebUSB API](https://wicg.github.io/webusb/) may help in some circumstances.

What is not possible at the moment (but would be more of a concern for the [WebRTC spec](https://github.com/w3c/webrtc-pc/) than this one) is to createa a syn

[2017-06-16 13:00] guidou opened #465 "How should applyConstraints deal with constraints from other tracks sharing the same source?"
The description of the SelectSettings algorithm (building block for applyConstraints) explains how to filter candidate settings for a given track given the track's basic and advanced constraint sets.
However, I have a few doubts for the case when the track is connected to a source that is shared with other tracks.
More specifically, my main doubt is that, since the constraints for the other tracks

[2017-06-16 13:49] guidou opened #466 "Questions about setting belonging to source in Section 3."
I would like clarification for the following case:

Let's say the system has a single camera that can provide frames at 60Hz.
There are two getUserMedia calls. One requests an exact frame rate of 30Hz, and the other one requests an exact frame rate of 60Hz.

Chrome currently allows both calls to succeed. For the first track, Chrome drops every other frame, so the track has an effective frame rate

[2017-06-16 18:17] stefhak commented on #466
Assigning to Dan.

[2017-06-19 11:54] guidou opened #467 "Why is it important that aspect ratio be rounded to the tenth decimal place?"
The spec says so [here](https://w3c.github.io/mediacapture-main/#def-constraint-aspect).

Does any implementation actually do this rounding?

[2017-06-19 13:11] guidou commented on #467
More specifically, if a track has a resolution of 100x700, would it be a violation of the spec to have getSettings() return 0.142857142857143 instead of 0.1428571429?

[2017-06-20 08:29] jianjunz opened #468 ""tracks" is undefined if the constructor's argument is not present"
For `MediaStream` construction algorithm described in [section 4.2](https://w3c.github.io/mediacapture-main/#mediastream), when construct a `MediaStream` without argument, `tracks` in step 4 will be `undefined`. I think it does not make sense to iterate over an undefined object. So how about combining step 3 and 4 as a sub algorithm like this
[code]

[2017-06-22 11:48] tobie opened #469 "WebIDL serializer has been deprecated in favor of toJSON operation"
Hi!

We recently [deprecated WebIDL serializers][0]. You can now directly specify [toJSON operations][1] instead, which you previously weren't allowed to do.

To deal with common cases, we added a new [\[Default\] extended attribute][2] which triggers the [default toJSON operation][3] that behaves similarly to how `serializers={attributes}` or `serializers={attributes, inherit}` used to. That is,

[2017-06-23 18:03] jan-ivar opened #470 "Does getSettings() reflect configured or actual setting?"
In https://github.com/w3c/mediacapture-image/pull/182#issuecomment-308837309 there's a JS example attempting to use `getSettings()` to wait for a camera's motor to finish panning to a desired position. Does the mediacapture spec support this? It seems unclear:

From what I can tell given [this](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-constrainablepattern-getconstraints()): *"

[2017-06-24 02:45] jan-ivar commented on #470
This is perhaps a dup of https://github.com/w3c/mediacapture-image/issues/126.

[2017-06-25 15:36] fluffy commented on #470
I assumed that the promise would not return until the constraints had been applied. Does that work ?

[2017-06-25 15:45] fluffy commented on #467
I find this all a bit academic but people were concerned about setting aspect ratios to numbers that are not representable in normal floating point. For example, 0.1 is not representable exactly. So if you wanted to have a 1:10 ratio,  and you wanted to exactly compare the value vs saying >0.999 and less than <0.10001 , you would need to know how 0.1 got rounded.

[2017-06-25 15:51] fluffy commented on #457
I agree there is a need for unprocessed audio. But I would suggest using a different property for this rather than overloading the echoCancellation

[2017-06-25 18:38] #454 closed

[2017-06-25 19:02] jan-ivar commented on #470
@fluffy Regardless of when the promise returns, what should getSettings() return when there's a discrepancy between configured setting and actual physical setting? E.g.

Time | What happened | Applied constraints | Physical motor position | getSettings() returns
-----|--------------|-----------------|-------------------------|---------------------
0 | Starting condition |{pan: {exact: 30}} |  30 |

[2017-06-27 10:12] klausj commented on #457
Yes, indeed, the echoCancellation property was the only preprocessing property so far, but meanwhile the specification has changed. Now there are the additionally properties autoGainControl and noiseSuppression.
It would be helpful if an application could rely on unmodified audio data if it is able to set all of those properties to false. As far as I understand the current spec, this should be pos

[2017-08-03 14:06] #468 closed

[2017-08-03 14:15] aboba commented on #467
Please reopen if there is an issue to be fixed.

[2017-08-03 14:15] #467 closed

[2017-08-03 14:27] aboba commented on #464
Closing as there appears to be no issue to fix.

[2017-08-03 14:27] #464 closed

[2017-08-03 14:29] burnburn commented on #462
@jan-ivar can you think of any reason why we couldn't do this?

[2017-08-03 14:30] #458 closed

[2017-08-03 14:38] aboba commented on #451
Please reopen if there is an issue to be fixed in the spec.

[2017-08-03 14:38] #451 closed

[2017-08-03 21:13] jan-ivar commented on #462
@yellowdoge What's the utility? You already them, and they're synchronously available at any time:
[code]

[2017-08-03 23:49] yellowdoge commented on #462
@beaufortfrancois what was the rationale...?

[2017-08-04 12:36] jan-ivar commented on #380
https://github.com/w3c/permissions/pull/131 was merged, so closing this.

[2017-08-04 12:36] #380 closed

[2017-08-04 14:20] jan-ivar commented on #465
@guidou See https://github.com/w3c/mediacapture-main/issues/394#issuecomment-248542399 for a similar discussion.

To summarize, from https://github.com/w3c/mediacapture-main/issues/394#issuecomment-273583326 we believed the following existing text:

*"The User Agent MAY choose new settings for the constrainable properties of the object at any time. When it does so it MUST attempt to satisfy all cu

[2017-08-04 14:24] jan-ivar commented on #465
@burnburn In hindsight *"MUST attempt"* seems a bit weak. Was that intentional? Almost a misnomer.

[2017-08-04 16:12] jan-ivar commented on #466
@guidou Good find, and in the terminology section! The contradicting statements again:

The second statement seems to assume device settings are hardware settings, and/or that hardware devices cannot do two things at once. That's artificially limiting for audio at least:
 * aec, noise-reduction, auto-gaincontrol are often not implemented at the device level.
 * low-latency, sample-rate, sample-siz

[2017-08-04 17:25] jan-ivar commented on #466
When it comes to **video resolution and frame-rate**, I suspect some may have reservations about getting non-native modes, given the constraints-language's focus on device discovery. cc @fluffy

That said, as Firefox's implementation shows in https://github.com/w3c/mediacapture-main/issues/465#issuecomment-320261591 there are side-effects from having no virtualization at all: Changes in one tab, e

[2017-08-04 18:57] jan-ivar opened #472 "How to implement web-compatible camera downscaling?"
The spec leaves it to UAs whether to offer downscaled resolutions and decimated frame-rates.

This leaves web developers with a problem. This:
[code]

...means, depending on browser¹, either:
 1. Do you have a 360 native mode? If not, `OverConstrainedError` please, so I can do som'else, or
 2. Downscale the camera output to 360p, please.

Assuming both groups of users exist, how do we solve their

[2017-08-04 23:36] jan-ivar commented on #472
Observation: The 2nd group has no need for `min`, `max`, `exact`, `ideal`, or `advanced`:
[code]
...is all they need. An inherently simple rescale-me-this API.

### Proposal
Give them that API, and force the 1st group to use `min`, `max`, `exact`, `ideal`, or `advanced`.

That is, have the presence of those keywords be a hint to ignore downscaled [settings dictionaries](https://w3c.github.io/media

[2017-08-04 23:44] jan-ivar commented on #466
Rescaling to solve concurrent access may be desirable even if we end up doing https://github.com/w3c/mediacapture-main/issues/472 (loss of quality being a preferable side-effect to unexpected rescaling IMHO).

[2017-08-05 08:29] guidou commented on #472
What about having extra boolean constraints to control various forms of video processing.
We already have this in audio with constraints such as echoCancellation, noiseSupression and autoGainControl.
We could have additional frameRateAdjustment and rescaling constraints that work similarly for video.
This approach would have the advantage of consistency with the existing audio API, can be introduc

[2017-08-05 09:02] guidou commented on #466
@jan-ivar that is indeed the way Chrome is expected to work. That behavior is shipping already in stable (since Chrome 59). Chrome uses non-native modes only if you use an ideal non-native value, or if the requested range does not include a native mode but can be satisfied with a non-native mode. When a non--native mode is used, the camera is opened in the native mode that is closest to (and great

[2017-08-06 03:31] jan-ivar commented on #472
@guidou Interesting, but as a constraint, I think it fails, because while something like:
[code]
...might give preference to native resolutions, the opposite:
[code]
...would then give prefence specifically to non-native resolutions, which is always undesirable.

We'd also be bound by the [fitness-distance](https://w3c.github.io/mediacapture-main/getusermedia.html#dfn-fitness-distance) algorithm,

[2017-08-06 04:02] jan-ivar commented on #472
It also wouldn't resolve the current browser difference over
[code]
...which I was hoping to do. I was thinking something like:

*"The User Agent SHOULD omit downscaled or decimated settings dictionaries if constraints are specified using any of the keywords 'min', ‘max', 'exact' or ‘ideal'."*

[2017-08-06 04:29] jan-ivar commented on #466
@guidou Thanks for confirming, and glad to see this!

My one comment would be that, as I recall, one of our goals behind imbuing `ideal` with gravity in the [fitness distance](https://w3c.github.io/mediacapture-main/getusermedia.html#dfn-fitness-distance) algorithm was to locate a preferred native mode among several within a range. E.g.
[code]
This does not appear to work in Chrome. Also, `advance

[2017-08-06 10:48] guidou commented on #466
@jan-ivar If that was the intention was to select only native modes, it did not make it into the spec. The spec does not make any reference to native vs. non-native video modes. It only talks about settings dictionaries, and Chrome runs the SelectSettings algorithm with both native and non-native dictionaries as part of the set of valid dictionaries. If, after discarding all dictionaries that don´

[2017-08-06 12:12] guidou commented on #472
Your example just shows that a "native" constraint where true means native and false means non-native would not be very useful.
If instead we have a "rescaling" or "rescalingAllowed" constraint, meaning that rescaling is allowed (but not required) when true would not have that problem. Having the constraint equal to exact false would have the effect of removing the candidate dictionaries with nonn

[2017-08-07 02:00] jan-ivar commented on #466
@guidou I notice you didn't dispute the shortcomings I mentioned. Both Firefox and Edge let users discover best-match device modes using the [above](https://github.com/w3c/mediacapture-main/issues/466#issuecomment-320485062) examples with quite a bit of precision, with `advanced` lending even more precision.

Those browsers do it without exposing an exhaustive list of device capabilities to the JS

[2017-08-07 02:08] jan-ivar commented on #472
In Chrome, what's the difference between
[code]
and
[code]
?

[2017-08-07 06:10] guidou commented on #472
That particular example Chrome would produce the same result for cameras (provided the camera always produces frames at the same resolution).
For screen capture, the first one will never exceed 1000 while the second might, depending on particular min/max values. In this paticular case, resolution will likely be adjusted to 640 for performance in both cases. With different values the results might

[2017-08-07 06:25] guidou commented on #466
This sounds to me more like a shortcoming of the spec than of Chrome's implementation of the spec.
Nothing in the spec suggests that the purpose of min/max/ideal was to discover native modes, even if it was the original motivation at some point.
If this is indeed important (which is not entirely clear to me, since I'm not aware of any user filing a bug for this in Chrome) then let's continue the d

[2017-08-07 07:58] guidou commented on #472
Another difficulty I see with overloading min/max/exact to mean native mode is that resolution is a property determined by the combination of the width, height and aspectRatio constraints.
What happens if some of those constraints have naked values (indicating rescaling) and some have min/max (indicating native)?
In general, constraints control properties that are not always orthogonal, so changes

[2017-08-07 17:18] jan-ivar commented on #472
@guidou You mean, what would happen with:
[code]
? - Going back to intent and the two user groups I mentioned, the rule would be any use of keywords implies an intent to discover discrete modes, so: native <= ???x360 or `OverconstrainedError`.

Mixing bare values with min/max/exact/ideal, and ideal values purposely outside of a min-max range are edge-cases with little insight into user intent IMHO

[2017-08-07 17:23] jan-ivar commented on #472
Since we don't upscale, we could make an exception for the `min` keyword, which may be useful to request a rescaled resolution of at least a certain size.

[2017-08-07 19:00] guidou commented on #472
A constraint would allow using ideal to express a preference that is not a hard requirement.
For example, an application might prefer native modes, but be willing to accept non-native ones.
This could be easily expressed with constraints, but probably not with the keyword approach, unless you make another exception.

Constraints would give users fine control over multiple processing techniques.
Fo

[2017-08-08 00:32] jan-ivar commented on #472
@guidou You mentioned video mirroring again, but https://github.com/w3c/mediacapture-main/issues/452 was closed a while ago as out of scope. FWIW I agree with @burnburn that `getUserMedia` is not a post-processing API.

What's the more likely reason for that popularity?
 1. People wanted Chrome to follow FF + Edge in implementing `ideal` as the spec intended, or
 2. They wanted min-max ranges arou

[2017-08-08 13:20] guidou commented on #472
So we should remove echoCancellation, autoGainControl and noiseSupression constraints because they are post-processing?

I can only read what people write in their bugs and what's written in the spec, not what's in other people's minds. Most bugs filed after the spec-compliant processing of video constraints shipped in Chrome 59 were about the behavior of screen sharing changing due to different d

[2017-08-08 17:38] jan-ivar commented on #472
Let's contain the scope to keep this productive. To clarify my [problem statement](https://github.com/w3c/mediacapture-main/issues/472#issue-248089527), my intent here is only to try to bridge the gap between *existing browser features*. For new problems, open new issues:

 * Video mirroring is https://github.com/w3c/mediacapture-main/issues/452. Let's agree to disagree in that issue, not here.
 *

[2017-08-08 17:44] jan-ivar commented on #472
If you're asking if FF would consider rescaled modes or not, I'd say we ["can use any information available"](https://w3c.github.io/mediacapture-main/getusermedia.html#dfn-selectsettings) to make that decision. We don't need agreement for that. It'd be nice if our behaviors aligned better however. That's why I opened this issue.

For instance, FF could appease the we-want-what-we-want group with r

[2017-08-08 19:02] fluffy commented on #466
I think this native mode things is pretty confusing and would try to avoid it will change on many devices. Most CMOS sensors support only a *single* native resolutions but multiple frame rate.  Some have multiple native resolutions. This often feeds to a chip in the camera which may support many resolutions across USB bus even though none of them are the native of the sensor. This then goes to OS

[2017-08-08 21:23] guidou commented on #472
I don't think Chrome has a problem with this. No one has filed Chrome bugs against this behavior.

No, the concept of native modes or their discovery is not in the spec. Chrome supports rescaling and its constraints algorithm returns rescaled resolutions over native ones when they result in lower fitness values as defined by the spec.
FF and Edge only support native resolutions and they return nat

[2017-08-09 01:53] jan-ivar commented on #472
@guidou That might work. You don't need to change the fitness algorithm even. The spec says *"The UA SHOULD use the one with the smallest fitness distance"*, meaning you don't have to, and *"the UA can use any information available to it. Examples ... may be ... whether using a settings dictionary will cause the device driver to apply resampling."*

My spec suggestion was mostly to rally convergen

[2017-08-09 06:40] guidou commented on #472
@jan-ivar If we are going agree on this approach in order to facilitate convergence, I think we should express it in the spec somehow as reference for developers and implementors. As currently written,  implementing the current SHOULD about minimizing fitness with the current fitness function means that implementations SHOULD do what Chrome currently does. Of course, they don't have to, but it wou

[2017-08-09 08:23] guidou commented on #472
@jan-ivar Another, change I would be willing to consider is to make naked values in the basic set mean exact instead of ideal, just as in the advanced sets. This might be more intuitive to users who are less familiar with the spec and expect {width: 638} to mean exactly 638 and not native closest to 638.

[2017-08-09 12:42] jan-ivar commented on #466
@fluffy You're ok with `OverconstrainedError` solely if the camera's max abilities are exceeded?

[2017-08-09 14:14] stefhak commented on #472
FWIW, my memory says alternative 2. in https://github.com/w3c/mediacapture-main/issues/472#issue-248089527 is what we had in mind back when this was originally specced. @burnburn would be good to get your input here!

Also note @fluffy's comment regarding "native" resolution in https://github.com/w3c/mediacapture-main/issues/466#issuecomment-321050942

[2017-08-09 17:53] jan-ivar commented on #472
@guido I imagine bare values as exact would meet resistance since that was shot down years ago. We don't want to fail in simple cases, like:
[code]

[2017-08-10 12:16] burnburn commented on #457
It might be too late in the process to add this new feature, but I believe what you need is a new constrainable property along the lines of "disableInputProcessing", which if satisfied would guarantee that no input processing was done regardless of the settings of the other input processing properties, including vendor-supplied ones.  @klausj, would you be willing to create a PR (or new issue) for

[2017-08-16 11:41] guidou opened #477 "Should setting MediaStreamTrack.enabled = false on a track make it muted?"
The spec says "A disabled track is logically equivalent to a muted track, from a consumer point of view."

Does this mean that setting enabled = false on an unmuted live track should also result in the track becoming muted (with the corresponding firing of the muted event)?
Is this behavior mandatory, allowed or forbidden? I did not find any explicit language in the spec about this. My interpretat

[2017-08-16 11:42] guidou commented on #477
cc @foolip

[2017-08-17 05:06] stefhak commented on #477
Assigning to @adam-be as he wrote these parts of the spec.

[2017-08-18 14:25] adam-be commented on #477
I would say it's not intended.

The enabling and disabling of a track directly updates the attribute and therefore there's no event coupled with it. The muted event is intended to notify the script about what happens with the underlying source of the track which the script normally has no control over (we have no corresponding object representing the source).

[2017-08-22 14:08] fluffy commented on #466
I think over constrained can happen other ways too. For example, a camera that could any frame rate up to 60fps but one stream wants exactly 24 fps and one wants exactly 30 fps. Neither stream exceeds the max but there is no way to simultaneously meet both. This type of scenario is less likely to happen with constraints on resolution as you can do that easily without creating fake data. And downsc

[2017-08-22 14:11] fluffy commented on #457
Just as FYI on this ... currently there is no way for the browser to get unprocessed audio on IOS devices. I still think adding this is a good idea because there are many situations where you really want unprocessed audio and hopefully this will change in future IOS releases.

[2017-08-22 15:54] jan-ivar commented on #466
@fippo I think that expectation faces a couple of hurdles:
 1. From a browser standpoint it's really undesirable to have constraints be able to detect camera use in other tabs, for privacy and security reasons. We're probably [more inclined](https://bugzilla.mozilla.org/show_bug.cgi?id=1388667#c2) to downscale in these nonoptimal edge-cases, to abstract away knowledge of other tabs.

 2. From what

[2017-08-23 20:21] jan-ivar commented on #466
Uh, I meant to respond to @fluffy above. I've edited the comment.

[2017-08-24 00:02] pbos opened #478 "Consider discussing content hints for MediaStreamTrack in next interrim"
In WebRTC in Chromium, content is treated differently whether it's screencast or usb webcam devices. It's assumed that screencast can't be downscaled, or text will lose its intelligibility, while usb video class devices webcam content that can be downscaled to preserve frame rate under low bitrate conditions.

This assumption doesn't hold when the screencast content is of a video game, movie or ot

[2017-08-24 14:06] klausj commented on #457
I think the builtin microphone signal on most mobile devices is already preprocessed (noise reduction, dynamic compression, etc.). Maybe already by the hardware or by the driver or operating system. And I am not aware of any audio interface API (DirectSound, CoreAudio, ALSA/PulseAudio,...) which has the capability to somehow guarantee unprocessed audio or could be queried about pre-processing. So,

[2017-08-25 08:20] #469 closed

[2017-08-29 16:05] stefhak commented on #478
Hi @pbos I unfortunately think that we cannot get to this at next meeting, but plan to talk about it at a future one. In order to get prepared for the discussion I sent a mail to the list to ask about plans for implementation (https://lists.w3.org/Archives/Public/public-media-capture/2017Aug/0021.html).

[2017-08-29 20:22] pbos commented on #478
That's alright, I mostly wanted it to be brought up in the foreseeable future to be able to hand it over for a long-term solution. FYI there's also been some discussion under https://github.com/WICG/mst-content-hint/issues/18, and https://github.com/WICG/mst-content-hint/issues/18#issuecomment-283751644 hints that there's general interest for a content hint from Mozilla (but that it's unclear in w

[2017-09-01 14:40] fluffy commented on #466
Our stats indicate very few cameras adjust frame rate for lighting but ignoring how common it is or not .... If the camera frame rate moves below X, *and* the app has set a min rate at X, yes, there needs to be an error. If the app is OK with data below that rate it would not have set a min rate.  Very few apps should be setting min rates. 24 fps means very close to 1/24 s between frame (that is s

[2017-09-01 19:36] jan-ivar commented on #466
If they're very few, I'm inclined to advise them to measure the frame rate for best result. I think there's also value in constraining UAs from picking a lower *target* frame rate *on purpose*. I fear more apps use that definition. AFAIK no browser returns actual frameRate in `getSettings()` today.

Nit: `min` is a limiter without gravity, so 1/24 is no guarantee. Maybe `{min: 24, ideal: 24}`. My

[2017-09-04 08:25] beaufortfrancois commented on #462
I'd like to know which constraints have been applied after each call as they might not be the ones currently set.

[code]

[2017-09-05 16:17] jan-ivar commented on #462
@beaufortfrancois That cannot happen.

[2017-09-05 16:27] annevk opened #481 "Please add [Exposed] to all interfaces"
See https://github.com/heycam/webidl/issues/365.

[2017-09-05 17:24] jan-ivar opened #482 "applyConstraints modifies DOM object "in parallel""
The [applyConstraints algorithm](https://w3c.github.io/mediacapture-main/getusermedia.html#dfn-applyconstraints-algorithm) currently modifies DOM objects on multiple threads. Not a good idea.

It says: *"Run the following steps in parallel:"*, followed by read/write of the constrainable [MediaStreamTrack](https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack) DOM object.

This is causi

[2017-09-06 11:00] beaufortfrancois commented on #462
Chrome's implementation actually makes this happen. Go to https://beaufortfrancois.github.io/sandbox/image-capture/playground.html and execute JS code below in your console (webcam is expected):

[code]
[code]

[2017-09-07 14:51] guidou commented on #462
@beaufortfrancois : Chrome's implementation is not spec compliant and only works in a limited way for image capture. If applyConstraints is successful, getConstraints() should be the same (or equivalent) to the constraints that were requested.

[2017-09-07 17:13] jan-ivar commented on #462
Isn't also behind a flag still?

[2017-09-07 23:06] fluffy commented on #466
We have said since the beginning that using exact is pretty much never what you want as it does not leave the browser the option of doing the best it can. The problem with measurement is AFAIC, there is not accurate way to measure every frame.

[2017-09-10 12:09] saschanaz opened #484 "Can IDL typedef for MediaStreamError be (DOMException or OverconstrainedError)?"
https://w3c.github.io/mediacapture-main/archives/20170828/getusermedia.html#navigatorusermediaerrorcallback

[code]

Can this be a union:

[code]

[2017-09-15 11:45] adam-be commented on #477
@guidou, can we close this issue?

[2017-09-15 11:48] guidou commented on #477
Yes, let's close it. I got the answers I needed.

[2017-09-15 11:48] #477 closed

[2017-09-21 14:32] #481 closed

[2017-09-22 21:54] jan-ivar opened #487 "Link is to wrong permission algorithm (editorial)"
See https://github.com/w3c/permissions/pull/159#discussion_r140592752. The correct algorithm to link to is [request permission to use](https://w3c.github.io/permissions/#request-permission-to-use), which is the one returning `"granted"` or `"denied"`.

The other one is going away.

[2017-09-22 22:23] jan-ivar commented on #487
We should probably give UAs a choice here to use either [request permission to use](https://w3c.github.io/permissions/#request-permission-to-use) or [prompt the user to choose](https://w3c.github.io/permissions/#prompt-the-user-to-choose), to allow Firefox's permission prompt. However, while trying to write a PR for this I'm running into trouble using the latter. Will open an issue on permissions.

[2017-09-26 07:28] beaufortfrancois commented on #462
It is not behind a flag after Chrome 59.

[2017-09-28 14:59] stefhak commented on #478
@pbos we put this up for discussion at the Oct 12 (on-line) meeting. Can you add a slide or two introducing this (why is perhaps more important than how) at https://docs.google.com/presentation/d/1Mfilvq56DbSqUSgMBgWvK7Zp4pLvN6KIexPtAGZhn1I/edit#slide=id.p

[2017-09-29 17:17] pbos commented on #478
Sure, I've requested access to the doc. When do you need it? Is any time before Oct 12 fine or would a week in advance help?

[2017-09-30 08:44] stefhak commented on #478
@aboba can you give access to the slide set?
Having the slides a few days before the meeting would be helpful. And just to be clear: we think we will have time to cover this, but getting the "Resolve before CR" Issues on webrtc-pc covered has priority.

[2017-10-02 17:12] pbos commented on #478
Yep, got it.

That's fine, so long as it gets discussed / handed over within the foreseeable future. This meeting or the next isn't that crucial. I'll make sure something's up before that.

[2017-10-07 00:09] jan-ivar opened #488 "Touching a browsing context in an "in parallel" section is not OK."
Some feedback from our DOM team on the [getUserMedia](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediadevices-getusermedia()) algorithm's handling of `originIdentifier`:

1)  A browsing context does not have a concept of "origin".
2)  Touching a browsing context in an "in parallel" section is not OK.
3)  The top-level browsing context may not have anything to do with the API bei

[2017-10-07 02:21] jan-ivar opened #489 "Disallow getUserMedia in non-fully-active documents."
To avoid some sharp edges in the the [getUserMedia](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediadevices-getusermedia()) algorithm, we should check that the relevant document is fully active. See https://github.com/w3c/permissions/issues/162.

[2017-10-10 08:06] stefhak commented on #478
@pbos the meeting is approaching, please don't forget doing the slides.

[2017-10-10 12:20] burnburn commented on #465
I recently gave a presentation on the history of constraints and how they ended up the way they are now.[1]  The original text we had was close to the current text that says

The current selectSettings text was written in an attempt to unify the selection of getUserMedia() with the application of applyConstraints(), but the spirit of the original text may have gotten lost in the process.

When com

[2017-10-11 17:23] pbos commented on #478
Sorry, I got swamped. I'll do them today. Do you want me present at the meeting?

[2017-10-11 17:47] stefhak commented on #478
Great! Yes, please present them at the meeting.

[2017-10-12 12:32] jan-ivar commented on #466
Firefox and Chrome at least implement non-spec ways to measure frame rate. From [fiddle](https://jsfiddle.net/jib1/suLvcr3a/):
[code]

[2017-10-19 14:24] burnburn commented on #472
Yeah, we argued for a long time on this and decided that bare values meant exact.

[2017-10-19 14:26] #489 closed

[2017-10-19 14:27] alvestrand commented on #472
I see that there's been a long discussion here already. I'll review the discussion before making further comments, but I will make comments.

[2017-10-19 14:27] #488 closed

[2017-10-20 17:28] stefhak opened #495 "Undefined how video dimension constraints are met"
As far as I read the spec, it is not defined _how_ constraints on (video track) width, height and aspectRatio are met. Will the video be scaled down, cropped, a combination? Will it be letterboxed/pillarboxed?

A concrete use case that has been discussed is one where square 100x100 thumbnails are to be shown (at a remote end point). Say the camera  produces a 16:9 high resolution video feed, apply

[2017-10-25 15:23] guidou commented on #462
Closing this.
I'm preparing a change in Chromium to make applyConstraints resolve promises with void for image capture, since the applied constraints and current settings can always be obtained using getConstraints() and getSettings(), respectively.

[2017-10-26 05:00] alvestrand commented on #462
Closing. You can get the most recently applied constraints by getConstraints(), and the settings that resulted by getSettings() (and they don't mean the same thing).

[2017-10-26 05:00] #462 closed

[2017-10-26 09:46] burnburn commented on #457
Thanks for the PR!  If we can agree on the wording details (which may end up being vague and hand-wavy on purpose), the concept of this is nice.  One thing you should consider is what tests can/could be written to verify implementation.

[2017-10-30 14:53] dontcallmedom opened #496 "Meta: auto-publish changes to the spec"
We've changed the way the WebRTC repo works with regard to editors draft, following discussion in https://github.com/w3c/webrtc-pc/issues/942

The changes are described in:
https://lists.w3.org/Archives/Public/public-webrtc-editors/2017Oct/0001.html

We should apply the same change to this repo.

[2017-11-02 14:19] alvestrand commented on #478
@pbos and @pthatcherg - will either of you be available to talk about this at TPAC next week?

[2017-11-02 14:25] alvestrand commented on #457
@klausj we need your IPR sign-off (easiest: if your org is a W3C member, join the group)

[2017-11-02 14:34] burnburn commented on #441
@jan-ivar would this benefit from TPAC discussion?

[2017-11-02 14:41] dontcallmedom commented on #457
@alvestrand fwiw I'm in discussion with @klausj on this very topic at the moment

[2017-11-02 19:33] jan-ivar commented on #441
@burnburn Maybe. The remaining concern (interop) seems like a WebRTC issue, not mediacapture.

FWIW in Firefox we're currently working on [turning off camera/microphone when all tracks are disabled](https://bugzilla.mozilla.org/show_bug.cgi?id=1299515). Not sure yet what that will do to frame rate.

[2017-11-02 23:51] jan-ivar commented on #495
More than "how", the spec doesn't mandate downscaling, so this won't work across browsers.

The sole mention of downscaling in the entire spec appears in this paragraph about concurrent use:

   *"Multiple tracks can be attached to the same source. User Agent processing, such as downsampling, **MAY** be used to ensure that all tracks have appropriate media."*

We're [implementing](https://bugzilla

[2017-11-03 10:22] stefhak commented on #495
@jan-ivar thanks for your input, I agree this is related to #472

I think the important thing here is that we have ```contraints``` that enable constraining ```width```, ```height``` and ```aspectRatio``` for video tracks, and therefore we need to specify how an implementation must behave.

[2017-11-03 12:46] jan-ivar commented on #495
@stefhak I think you're thinking of "constraining" = rescaling, which is not the spec definition.

For instance, If `getUserMedia` worked that way, `max` and `exact` would be redundant.

The spec defines `applyConstraints()` as a filtering function applied to a *UA-specific* pool of available [settings dictionaries](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediastreamtrack-app

[2017-11-03 13:14] stefhak commented on #495
@jan-ivar I may very well have gotten things wrong, that happens all the time :)

Could you explain what you think should happen if
* ```getUserMedia``` is called with ```video``` as only argument
* doing ```getSettings()```  on the resulting ```video``` track returns a ```width``` of 1920 and a ```height``` of 1080
* the app then applies mandatory constraints saying that ```width``` and ```height

[2017-11-03 14:00] jan-ivar commented on #472
### 2nd Proposal

The [current idea we're working on](https://bugzilla.mozilla.org/show_bug.cgi?id=1286945#c10)  in Firefox is to crop and downscale only when the app forces us to using `{max}` or `{exact}` where today we'd throw `OverconstrainedError`. This seems like a safe and intuitive interpretation that's equally spec-compliant, yet doesn't disrupt discovery of actual modes.

[code]
(Of cour

[2017-11-03 14:58] tobie opened #497 "Update WebIDL definition(s) to use new mixin syntax"
Hi all!

WebIDL recently introduced [dedicated syntax for mixins][0].

This syntax replaces the `[NoInterfaceObject]` extended attribute and `implements statement` which have been deprecated (except for a few [legacy uses cases][1] explicitely mentioned in the spec).

You can read more about it [here][2].

In most cases, the changes should be relatively straightforward. The now deprecated:

[code]

[2017-11-03 15:02] jan-ivar commented on #495
Correction: I found one more, in this [note](https://w3c.github.io/mediacapture-main/getusermedia.html#h-note13). One has to search for "downsampling" *and* "resampling".

[2017-11-03 16:57] jan-ivar commented on #472
I agree w/@guidou [here](https://github.com/w3c/mediacapture-main/issues/472#issuecomment-321167341) that *"it would be good to have a SHOULD that matches the intent of the spec."*

This seems like a reasonable ask. We should verify the WG's intent here.

[2017-11-04 21:36] alvestrand commented on #497
From the advice section at https://heycam.github.io/webidl/#using-mixins-and-partials it seems that we should just say

partial interface Navigator {
    [SameObject]
    readonly attribute MediaDevices mediaDevices;
};

and leave it at that. This popularizes the idea of using "partial" across several specifications; is this a desirable evolution of "partial"?

[2017-11-06 10:25] tobie commented on #497
I think that's one of it's main purpose. That said you're free to put everything in a mixin and include that, if it makes more sense for your particular use case.

[2017-11-23 15:12] alvestrand commented on #434
https://github.com/w3c/permissions/pull/163 is a better approach, probably.

[2017-12-14 15:19] alvestrand commented on #441
The frame rate on the wire needs to be a webrtc-pc issue.

[2017-12-14 15:24] alvestrand commented on #441
Discussion moved to https://github.com/w3c/webrtc-pc/issues/1695

[2017-12-14 15:24] #441 closed

[2017-12-14 15:24] burnburn commented on #441
Agreed.  There isn't really a notion of frames for local media.  Locally, frame rate really just tells you how often your image can change.  Identical black frames are the same as a single frame, effectively.

[2017-12-14 15:33] alvestrand commented on #457
@fluffy would we then advise to return "overconstrained" if one asks for this constraint on IOS?

[2017-12-14 15:41] alvestrand commented on #466
Two questions:
- does getSettings() return a target value or a current value? No consensus at TPAC.
- is the getSettings() returning settings for the source or the track?
Consensus at TPAC seems to be that they return settings for the track - ie tracks from the same source can return different setting values (which is in conflict with current spec text).

[2017-12-14 15:42] alvestrand commented on #466
TPAC consensus may have been for "target value".

[2017-12-18 11:20] tobie opened #501 "Why is ConstrainablePattern using [NoInterfaceObject]?"
`ConstrainablePattern` uses the `[NoInterfaceObject]` extended attribute, yet it's not a mixin, nor does it seem to need to do so for legacy compat reasons, which is now the only [legit reason](https://heycam.github.io/webidl/#NoInterfaceObject) to use this extended attribute.

I suggest replacing the `ConstrainablePattern` interface's `[NoInterfaceObject]` extended attribute with the `[Exposed]`

[2017-12-18 14:23] alvestrand commented on #501
This was done because (at least at the time we did this) the ConstrainablePattern can't be inherited from, due to the way WebIDL does inheritance.
Instead, each instance of the Constrainable pattern has to define the operations anew, without using inheritance to express the commonality.
Thus, [Nointerface] is used as a heads-up more than anything else: "You can syntax-check this IDL, but embedding

[2017-12-19 14:00] tobie commented on #501
Oh, I see. If that's not a concern for implementors (i.e. if they're not pulling this in by accident despite it not being in use anywhere, I guess that's fine).

[2017-12-19 22:39] #501 closed

[2018-01-05 01:41] kdavis45 commented on #457
@klausj , @burnburn ,

With respect to the question of whether hardware prefilters audio with no way to disable the filter(s) AND therefore this processing can not be disabled by webRTC (to get raw audio), my experience has been that raw audio is always obtainable natively and therefore there is no reason it wouldn't also be available to the browser (which at its core is native). Does anyone know

[2018-01-05 02:02] kdavis45 commented on #457
@fluffy

I am a bit confused by your comment above:

_**Just as FYI on this ... currently there is no way for the browser to get unprocessed audio on IOS devices. I still think adding this is a good idea because there are many situations where you really want unprocessed audio and hopefully this will change in future IOS releases.**_

If I can write native apps and have access to raw audio nativel

[2018-01-05 03:23] kdavis45 commented on #457
@klausj , @burnburn ,

**_But generally I would prefer to get unmodified audio as default._**

Sorry I did not see this comment from @klausj before now. Yes, I wholeheartedly agree. Even if this is NOT the default state of the HW, it should be the default state of the webRTC software.

[2018-01-11 14:42] alvestrand commented on #472
So that I can find it again while discussing:

The kind-of-similar CSS property is called "object-fit", and the variants "none" and "cover" are the two that match the two modes that are being proposed in #502, I think.

https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit

[2018-01-11 16:44] alvestrand commented on #472
VI decision: merge #502 (add the constraint). No default for browsers is mandated.

[2018-01-25 15:20] alvestrand commented on #495
#502 seems to be solving this question.

[2018-01-25 15:20] #495 closed

[2018-01-25 15:20] alvestrand commented on #472
Solved by #502

[2018-01-25 15:20] #472 closed

[2018-01-25 15:23] alvestrand commented on #434
Need to reference feature policy? That seems to be the place where it's currently specified.
@jan-ivar to find a proper place to reference (if needed).

[2018-01-25 15:30] alvestrand commented on #457
One thought .... the specification of the interface to WebAudio doesn't allow any processing (I think).
Perhaps we should make sure that this stays that way, and drop this?

[2018-01-26 01:01] kdavis45 commented on #457
@alvestrand, I guess it depends on how you define processing but beyond all the existing filters (below) which actively process the raw audio (by default in most cases), there is also the case of the analyzer node which is attached to the audio stream to perform FFT processing. So I am not sure what you mean when you say the spec does not allow any processing. What kind of processing are you refer

[2018-01-29 14:43] klausj commented on #457
I'm convinced that the best approach would be to have all filters be switched off by default. At least the experimental (prefixed) filters which are not listed in the specification.
Otherwise applications may produce unpredictable audio quality depending on the browser.
And I think the specification would become clearer.
Besides backwards compatibility, I don't see any drawbacks of this approach.

[2018-02-08 16:29] ewpreston commented on #434
is the allow attribute supported in Chrome 64 yet? I can't seem to get it to work. Referencing this document:

https://dev.chromium.org/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes

[2018-02-11 23:58] raymeskhoury commented on #434
It should be working in 64. What can't you get working in particular?

On Fri, 9 Feb 2018 at 03:29 Eric Preston <notifications@github.com> wrote:

[2018-02-12 09:54] dontcallmedom commented on #496
now done

[2018-02-12 09:54] #496 closed

[2018-02-12 15:37] ewpreston commented on #434
Sorry, the documentation is lacking. We do a redirect once we load the iframe. Have to add * or domain after the capability. The document above doesn't discuss that but I found it on a google forum.

[2018-02-13 23:53] kingsturf opened #505 "RCA voyager tablet"
Fetch hidden content

[2018-02-14 06:13] alvestrand commented on #505
Closing as invalid.

[2018-02-14 06:13] #505 closed

[2018-02-23 09:31] foolip commented on #404
It's been over a year, and somewhat to my surprise, we're making some progress. @orphis has [deprecated createObjectURL(mediaStream)](https://chromium.googlesource.com/chromium/src/+/7e16825899d0362f71ff8d7585f54985d2d4c4ef), which will hopefully be followed by removal. If that works out, then there's no reason to revisit this.

[2018-03-03 10:48] fippo opened #508 "why does getDisplayMedia live on navigator and not navigator.mediaDevices?"
apologies if I missed any previous discussion...

Is there a reason for getDisplayMedia living on navigator instead of navigator.mediaDevices?
navigator.getUserMedia is considered legacy so it is somewhat unexpected to see a similar pattern in this spec.

[2018-03-03 10:49] fippo commented on #508
argh... wrong repository!

[2018-03-03 10:49] #508 closed

[2018-03-08 06:09] jan-ivar commented on #434
`allow` is here https://wicg.github.io/feature-policy/#iframe-allow-attribute

Asssuming https://github.com/w3c/permissions/pull/163 merges, we should be able to reference it from there.

[2018-03-08 15:08] sidram01 opened #513 "This site says... [object MediaStreamError]"
getting this error on Edge. using getUserMedia  for video and  Audio Context for capturing the video stream and audio stream respectively

[2018-03-08 16:30] alvestrand commented on #513
This is not a spec matter. Closing.
(Likely you'll get better response raising this with Edge or on the discuss-webrtc mailing list)

[2018-03-08 16:30] #513 closed

[2018-03-09 14:37] sidram01 commented on #513
Thank You

[2018-03-14 13:48] alvestrand commented on #384
Something came up that caused me to re-look at this issue. @dontcallmedom is webIDL support now in a place where we can take this one out of the icebox?

[2018-03-15 12:52] dontcallmedom commented on #384
yes, I believe a pull request should be doable now; I'll take a stab at it

[2018-03-15 13:21] dontcallmedom commented on #384
I've prepared a pull request, but ReSpec will still need an upgrade before we can merge:
 https://github.com/w3c/respec/issues/1574

[2018-04-04 21:10] alvestrand commented on #478
The WG decided to adopt the content-hint document as a starting point for further work.
Further issues should be raised against the now-adopted document.

[2018-04-04 21:10] #478 closed

[2018-04-19 14:37] #459 closed

[2018-04-19 14:38] #470 closed

[2018-05-01 00:47] leahciMic opened #517 "addtrack and removetrack events only fire when user agent updates stream"
Currently we already have a `addtrack` and a `removetrack` event on a `MediaStream`. These events are only fired when the user agent changes what is contained inside the stream, and does not fire when a script adds, or removes a track from a stream.

Currently if a script is passed in a `MediaStream` there is no good method of being notified when the tracks are changed without: a) polling, b) over

[2018-05-10 07:12] marcoscaceres commented on #497
Seems this was fixed by https://github.com/w3c/mediacapture-main/pull/509 - could this issue be closed?

[2018-05-10 18:39] jan-ivar commented on #497
I believe so. @tobie can you close it? - I don't have the power to apparently.

[2018-05-10 19:48] #497 closed

[2018-05-24 11:27] adam-be commented on #517
To answer your last question first; this is indeed the right place to ask this kind of question. :)

The rationale for not firing the events when API modifies the tracks of a `MediaStream` is that those operations are synchronous. I.e., after adding a track, you can check on the next line that the new track is in place. The purpose of the events are notify the script that something has happened as

[2018-05-25 09:01] Pehrsons opened #518 "Clarification needed on HTMLMediaElement with MediaStream ending playback"
Spec says this on ending media elements:

This seems too simple as an HTMLMediaElement whose source reaches the end goes through [a lot more steps](https://html.spec.whatwg.org/multipage/media.html#reaches-the-end):

It seems preferable to me to refer to this algorithm instead of rolling our own.

Note that the HTMLMediaElement spec also lists [the conditions](https://html.spec.whatwg.org/multipag

[2018-05-25 09:22] Pehrsons opened #519 "Clarification needed on ended HTMLMediaElement with MediaStream becoming active"
Spec says:

This explains what a user can see and hear, but not how the HTMLMediaElement acts in other aspects.
For instance,
- Should a media element where a live track appears progress readyState and raise events as it does so?
  - If yes, how should the media element handle the stream going inactive again before playback has started?
- Or should all events and state changes be ignored until pla

[2018-05-28 07:39] alvestrand commented on #518
Media elements fed from a MediaStream can't loop, can't go backwards, and can't (usefully) pause, so all the other conditions for "something different" to happen aren't really relevant.
But not overriding other specs is usually a Good Thing, so I wouldn't mind changing this.
The added actions if we change this are to fire timeupdate, set the paused attribute and to fire paused.

[2018-05-28 07:54] alvestrand commented on #518
Given that there's observable behavior changes, a proposed text change here needs to have a test change along with it.

[2018-05-31 19:47] jan-ivar opened #520 "audioElement should ignore video tracks in a stream wrt ended."
Currently, our prose on HTMLMediaElement impact relies on the media stream [active](https://w3c.github.io/mediacapture-main/getusermedia.html#stream-active) attribute, which only really makes sense for video elements, which end when the total number of tracks go to zero.

For audio elements, this seems wrong. Audio elements cannot play video, and should arguably end when the total number of *audio

[2018-05-31 20:43] jan-ivar commented on #520
@burnburn can you take a look? Looks like I don't have access to assign or set flags like I do in webrtc.

[2018-05-31 20:54] jan-ivar commented on #520
FWIW here's current behavior: https://jsfiddle.net/jib1/vbf2Lqhc/

Firefox: false, false, false, true, ended, true, true (only ended once both tracks go away).
Chrome: false, false, false, false, false, false

[2018-05-31 21:50] eric-carlson commented on #520
FWIW, in Safari the current behavior is: false, false, false, false, ended, true, true

[2018-06-18 06:01] gtk2k opened #522 "I want enumerateDevices() filter argument. :-)"
Like this.
[code]

[2018-06-18 07:38] alvestrand commented on #522
what's wrong with
[code]
? (apologies for errors in Javascript syntax)

[2018-06-18 08:14] gtk2k commented on #522
@alvestrand
Thank you for the reply.
Yes, I know .filter ().
When writing enumerateDevices(), in most cases write .filter().
So it was convenient if enumerateDevices() had filtering function.

[2018-06-18 09:29] fippo commented on #522
i suspect the effort of specifying this is (for example: does enumerateDevices('videoinput') try to enumerate video devices and the kind is only run as a filter afterwards?) is much higher than the impact.

Its pretty easy to shim so there wouldn't be that many backward compability issues at least.

[2018-06-19 05:27] embirico commented on #327
Hey @alvestrand, sorry to resuscitate an old thread, but I currently have a use case for getting the raw data, and a scenario that doesn't seem to be currently covered:

I have an application with fairly long-lived streams (e.g. 1 hour long at a time), and I'd like to provide users with a way to capture short clips of the most recent, say, 15 seconds.

Currently it seems that creating a buffer of

[2018-06-20 18:28] alvestrand commented on #522
closing as "not worth the specification effort, usefulness can be achieved by other means".

[2018-06-20 18:28] #522 closed

[2018-06-21 10:50] alvestrand opened #523 "Volume attributes for audio MediaStreamTracks?"
Discussion in various places, including https://github.com/w3c/webrtc-stats/issues/353, https://github.com/w3c/webrtc-stats/issues/271 and others, lead to the conclusion that we have a legitimate need to get the audio level of an audio track, with or without the track being connected to an RTCPeerConnection (so getStats is inappropriate).

Use cases for both the input audio level (choosing the tra

[2018-06-21 12:43] henbos commented on #523
The problem with instantaneous values is audio level could change in-between polling. Audio level is, at least conceptually, a continuum over time and you can't get around discrete polling, but the total audio energy allows you to, by polling it twice, calculate the average audio level by looking at the difference and diving by time, similar to how polling a total counter of bytes twice and dividi

[2018-06-26 18:02] jan-ivar commented on #523
Is this not covered by web audio? https://webrtc.github.io/samples/src/content/getusermedia/volume/

[2018-07-01 16:31] aboba opened #524 "Enumeration of output devices and permission model"
The issue below was filed on the Audio Devices API, but also partially relates to Media Capture and Streams:  https://github.com/w3c/mediacapture-output/issues/71

[2018-07-09 18:54] jan-ivar opened #525 "Clarify constraints processing model wrt dictionary member presence"
As part of new WebIDL considerations, I got alerted that the mediacapture spec is a bit unclear in its dealings with dictionary members and their [presence](https://heycam.github.io/webidl/#dfn-present) in its constraints processing, particularly its [fitness distance](https://w3c.github.io/mediacapture-main/getusermedia.html#dfn-fitness-distance) algorithm.

MediaTrackConstraintSet dictionary def

[2018-07-09 18:55] jan-ivar commented on #525
Hit submit by accident. I'm cleaning up by editing initial comment now.

[2018-07-12 14:48] alvestrand commented on #524
Seems to be better discussed in mediacapture-output.

[2018-07-12 14:48] #524 closed

[2018-08-02 01:58] #525 closed

[2018-08-10 07:06] martinthomson opened #529 "Origin isolation"
I couldn't find anything in the specification regarding the origin that a track is attributed to.  I suspect that all browsers have settled on a model that is sensible, but the spec should make a few things clear:

1. MediaStreamTrack objects are only readable by the origin that requested them, unless other constraints cause them to gain a different origin (the peerIdentity constraint for WebRTC d

[2018-08-12 09:25] alvestrand commented on #529
making sure I understand what you're proposing:

when you say "readable", is this shorthand for "copy media content into another object"?

"rendered" = "used for display in a <video> element"? (as opposed to being painted on a canvas?)

"known" = "readable by JS from the current origin"?
Size is if course not known for audio tracks. Is the frame rate (for video) or sample rate (for video) knowable

[2018-08-13 01:14] martinthomson commented on #529
Readable means that the contents (the frames of video, samples of audio) can be read somehow.  That might mean rendering to a canvas, web audio, or whatever other methods we provide for accessing content.

Copying doesn't imply a requirement that content be readable - we can create new tracks by cloning for instance, or we might copy the track to another origin (where it is probably equally unread

[2018-08-13 07:54] stefhak commented on #529
+1 on the importance of clarifying this. Three questions:
1. Where does the recorder belong in this? Is it in the same class as "renderer" or "readable"?
2. Same question for a PeerConnection.
3. What happens on the receiving end of a PeerConnection? Does that page "own" the origin of the track (and can read data)? Can it forward the track?

[2018-08-13 08:37] martinthomson commented on #529
Recorder and PC require that the track be readable. The track out of PC is also readable.

The peerIdentity constraint is an exception to that. It exists to allow inaccessible media to be sent via PC and does that by making it unreadable on the receiving side.

[2018-08-13 08:42] stefhak commented on #529
https://github.com/w3c/mediacapture-main/issues/529#issuecomment-412447137 makes sense to me.

[2018-08-18 17:08] RWOverdijk commented on #457
I apologize in advance if this question is stupid.

Does this issue by any chance have something to do with why when I set up a call through a basic WebRTC implementation, the audio arrives in poor quality? I've rerouted my output to my input as a test (on my Macbook) so I can play music (on spotify for example), and listen to it on a different machine.

It works, but the quality appears mono and

[2018-08-27 14:54] jan-ivar opened #530 "applyConstraints algorithm threading issues (editorial)"
The [applyConstraints algorithm](https://w3c.github.io/mediacapture-main/getusermedia.html#dfn-applyconstraints-algorithm) is called both from the method of the same name, and *getUserMedia*.

Problem is, it's called from main-thread in the first case, and off-main-thread in the second, and the error handling in the second case is busted:

The algorithm returns a promise which goes unused, which m

[2018-08-28 22:53] martinthomson opened #532 "What does it mean to 'combine' origins?"
This is meaningless to me.  I honestly don't know what it means.  It needs a citation for the combination algorithm, or some more words.

[2018-08-29 05:56] stefhak commented on #532
I _think_ the intention with "combining" was, for the case when an iFrame uses gUM, to be able to both the origin of the Iframe and the page that included the iFrame to the user.
I suspect much of this may be outdated (and may change due to the Permission WS in September).

[2018-08-30 13:27] henbos opened #533 "What happens to constraints that are not applicable? Ignored or OverconstrainedError?"
WebIDL automatically "filters out" any constraints (members in a dictionary) passed in to getUserMedia() that are not defined in the WebIDL, which means that typos or unrecognized constraints by an implementation would silently be ignored.

However, any constraints that are defined are passed in, regardless if they are applicable or not. I don't know if it's clear what to do in this case, for exam

[2018-08-30 14:34] guidou commented on #533
I think the spec would benefit from clarification in this area.
It is clear that properties that are not supported at all are ignored by WebIDL.
The spec does not explicitly mention what should happen with properties that are intended to be used by only one track type (e.g., echoCancellation).

The practical interpretation seems to be that properties not intended for a track type are ignored.
I tr

[2018-08-30 14:39] guidou commented on #533
A possible interpretation would be that getUserMedia({video: {echoCancellation: {exact: false}}}) should reject because no video candidate can provide an echoCancellation of false, though fitness distance is positive infinity.

However, it can be argued that a video track definitely has no echoCancellation, so maybe echoCancellation exact false should be accepted.

I think we should update the spe

[2018-08-30 17:40] jan-ivar commented on #532
Yes, I recall the intent being to "double-key" origins so a user who grants persistent permission to

 - bar.com in iframe of foo.com website

does not implicitly granted permission to either

 - bar.com website
 - foo.com website

...because it wouldn't be POLA, since most users don't understand iframes or read URLs in prompts.

Feature Policy should simplify, making foo.com responsible for bar.c

[2018-08-30 17:46] jan-ivar opened #534 "Isolated Media Streams require forethought in gUM permission algorithm"
From https://github.com/w3c/webrtc-pc/issues/1646#issuecomment-344984088:

[2018-08-30 22:37] martinthomson commented on #532
The delegation aspect of feature policy (the good half), has the grant given to foo.com always.  foo.com can delegate that capability/permission to frames as it chooses.  bar.com (in the frame) doesn't gain any permissions that it can use.

[2018-09-04 20:26] jan-ivar commented on #532
That's a clearer way of explaining it.

[2018-09-05 12:24] guidou opened #536 "Clarification about ended event and attribute on HTML media elements."
The spec says:

My first observation is that setting the ended attribute of a media element seems to be in conflict with the definition of that attribute in the HTML spec. The ended attribute in HTML is not defined as something that can be arbitrarily set, but in terms of duration and current playback position as follows:

About infinite streams, the HTML spec says:

Should the madiacapture-main

[2018-09-05 18:07] jan-ivar commented on #536
I believe we have a couple of issues filed for this already:
 * https://github.com/w3c/mediacapture-main/issues/518 covers *"[overriding] the condition for when the media element has ended playback to support MediaStreams, we'd get the algorithm with events and state for free."* (first questions here)
 * https://github.com/w3c/mediacapture-main/issues/519 is the corollary for states and events whe

[2018-09-06 14:30] #534 closed

[2018-09-06 14:32] alvestrand commented on #532
Seems like we should stop combining origins.

[2018-09-06 14:34] alvestrand commented on #533
that's what is said for &lt;ideal> (ignored). For exact/max/min (mandatory specs), it says explicitly that you should reject with overconstrained.
I think it's wrong to ignore mandatory constraints, so I don't see what we can do but reject.

[2018-09-06 14:40] alvestrand commented on #536
Seems like moving currentTime to zero when a stream resumes is bad semantics, because it gives two meanings to "the content at position zero" (old and new).
It's more consistent to continue from current position.
(Besides, someone might some day implement a scrollback buffer on the HTML Media element when fed from MediaStreams...)

[2018-09-06 15:04] henbos commented on #533
@alvestrand, rejecting for constraints that aren't applicable makes sense, but remember that IDL already forces us to ignore dictionary members that are not known (misspelled constraints or ones not implemented by the browser). Rejecting one invalid parameter (because it is known by the browser), but not rejecting another invalid parameter (because it's not in the IDL), may be perceived as an inco

[2018-09-10 07:02] stefhak opened #537 "Point to public-webrtc"
Intro currently says comments should be brought to the (to be discontinued) public-media-capture list.

[2018-09-11 20:29] #466 closed

[2018-09-11 23:25] jan-ivar opened #538 "getCapabilities() cannot return null"
[getCapabilities](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-inputdeviceinfo-getcapabilities) says at the end: *"then this method returns null."*, but the WebIDL return value isn't nullable.

Chrome returns an empty dictionary, which I think makes sense.

[2018-09-12 04:47] youennf opened #540 "Should getUserMedia be functional in SecureContext only?"
Following on https://github.com/w3c/webrtc-pc/issues/1945, we might want to update the spec according browser behavior. Currently getUserMedia is rejecting for non secure origins in most (all?) browsers.

A follow-up question might be whether we can further tighten this, for instance:
- Make getSupportedConstraints return an empty dictionary on non secure origins.
- Make enumerateDevices reject on

[2018-09-13 14:20] jan-ivar commented on #540
Constrainable properties is a lateral concept, but so far *getUserMedia* is alone in using `min`, `exact` (and sometimes `max`) constraints for discovery, which truly requires this feature detection mechanism.

All future features of this caliber will likely be limited to secure contexts in some way, so yes.

enumerateDevices is also used by [*setSinkId*](https://w3c.github.io/mediacapture-output/

[2018-09-21 23:29] jan-ivar opened #541 "enumerateDevices() doesn't mention how to handle OS device permissions"
Android apps (including browsers) need OS device permissions—which trigger a user prompt—in order to enumerate devices. The spec needs to mention how to deal with this.

[enumerateDevices()](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediadevices-enumeratedevices) mentions permission only wrt labels, and cannot fail.

Having this method [trigger prompts](https://bugzilla.mozilla

[2018-09-26 00:53] youennf commented on #541
WebKit is not providing real device information until getUserMedia access is granted.
By default, enumerateDevices will provide default configurations for a given device, typically a microphone and a camera for a laptop.

Provided device ids are not persistent (maybe there should be no device ID in that case) and labels are hidden.

This should give the minimum meaningful information for a web app

[2018-09-26 12:48] jan-ivar commented on #541
Firefox in its default configuration does provide real device info before getUserMedia access is first granted, minus labels. I believe this is to spec.

While those deviceIds are not persistent *at that moment*, they're immediately usable in getUserMedia constraints and *become* persistent *if* the user grants getUserMedia in that session. If the user doesn't grant anything, the ids expire at the

[2018-09-26 12:49] jan-ivar commented on #541
That said, I like the idea of solving the lack of OS permissions the way @youennf suggests. I.e. barring more information, return one default mic and one default camera with deviceIds.

But I think once OS permissions are granted, we should honor those deviceIds to open the real devices the UA would have chosen if unconstrained.

I also agree it's appropriate to fire a *devicechange* event once we

[2018-09-27 14:48] alvestrand commented on #541
Pinging @guidou - what do we currently do in Chrome?

[2018-09-27 14:57] alvestrand commented on #541
@dom, we can't assign this issue to @youennf. Can you help out?

[2018-09-27 14:59] dontcallmedom commented on #541
done

[2018-09-27 15:00] jan-ivar commented on #541
I may be coming around to @henbos's suggestion today that perhaps *enumerateDevices* should just reject with an error in this case. `NotAllowedError` maybe?

[2018-09-27 15:42] youennf commented on #541
There are a couple of options here:
- throw NotAllowedError
- return an empty set
- return a filtered set of devices: typical device configuration, MediaDeviceInfo only containing kind

[2018-09-27 16:53] guidou commented on #541
If I disable all permissions for Chrome and call enumerateDevices, I get a list of real devices without labels, as per the spec. I never get a prompt requesting permission to enumerate devices.
The same happens with Brave, Opera and other Chromium-based browsers.

Maybe Chrome uses some API to enumerate devices that does not require permissions.

[2018-09-29 14:03] jan-ivar commented on #541
Thanks, @guidou I've tested those now and can confirm. I'll reach out to our Android folks to see what the problem is.

[2018-10-03 15:38] henbos commented on #533
I created a PR based on @guidou's suggestion (ignore constraints) which does not require existing implementations to be updated and is consistent with how "constraint not implemented" is handled by WebIDL.

[2018-10-03 19:08] jan-ivar opened #543 "elem.currentTime = 0 throwing InvalidStateError is inconsistent and unsupported. Ignore instead?"

[2018-10-04 14:59] #533 closed

[2018-10-05 21:36] aboba commented on #537
Fixed.

[2018-10-05 21:36] #537 closed

[2018-10-10 20:15] jan-ivar opened #545 "NotAllowedError or SecurityError over Feature Policy?"
https://github.com/WICG/feature-policy does not mention "Error", but it's [explainer document](https://docs.google.com/document/d/1k0Ua-ZWlM_PsFCFdLMa8kaVTo32PeNZ4G7FFHqpFx4E/edit#) does:

*"The way that features get disabled varies from feature-to-feature. Permission-like features, such as geolocation, already fail sensibly and return error values when the permission to use it is missing. When su

[2018-10-10 20:29] guidou commented on #545
I'm fine with changing the spec to NotAllowedError to match Chrome and Firefox.
Based on wpt.fyi, Edge and Safari don't implement this yet.

[2018-10-10 20:44] jan-ivar commented on #545
Follow-up question: In an iframe, is there a Feature Policy way to learn what's allowed? Or do we plan on overloading `navigator.permissions.query` with this?

[2018-10-10 21:24] #538 closed, assigned to jan-ivar

[2018-10-11 00:58] youennf commented on #545
Safari implements part of it and use NotAllowedError.
I would vote to keep it this way.

[2018-10-11 14:51] henbos commented on #545
Let's go with NotAllowedError

[2018-10-11 14:51] alvestrand commented on #545
"me too".
Editors consensus: Stay with NotAllowedError. Jan-Ivar to go around closing all the bugs.

[2018-10-14 07:00] katranci opened #547 "Typo in sink label"
Under [The model: sources, sinks, constraints, and settings section](https://www.w3.org/TR/mediacapture-streams/#the-model-sources-sinks-constraints-and-settings), the spec mentions two sinks Y and Z but the sinks are labeled as X and Z in the illustration.

![image](https://user-images.githubusercontent.com/61077/46913521-6b71fd80-cf86-11e8-90e8-26d042eefc79.png)

[2018-10-18 14:51] #434 closed

[2018-10-25 09:03] youennf opened #549 "Clarify that enumerateDevices must not expose devices that a given context cannot use through getUserMedia"
getUserMedia access to camera/mics/speakers can be controlled by FeaturePolicy.
In case, feature policy disables camera access, enumerateDevices should not enumerate camera devices. Ditto for other types of devices.

From my reading of the spec, this is the required behavior.
I haven't found a WPT test though and I am unsure whether browsers are actually implementing that.

A WPT test would be goo

[2018-10-30 12:11] cynthia commented on #540
Ping if there was any consensus/decision on this.

[2018-10-30 12:19] youennf commented on #540
The minutes are at https://www.w3.org/2018/10/22-webrtc-minutes#item02
The consensus is to make MediaDevices (including getUserMedia, enumerateDevices, getDisplayMedia) SecureContext.
I'll write a PR for that.

[2018-10-30 12:19] cynthia commented on #540
Awesome! We'll close the issue on our side when the PR lands then. Thanks a lot.

[2018-10-30 12:30] cynthia commented on #540
One more thing.

https://github.com/w3c/webrtc-pc/issues/1945 is about peer connections requiring secure context, was there strong disagreement on this? If this doesn't look like it would break a lot of live web content we would want to know if that is also doable.

Considering that most fundamental building blocks of RTC require a secure context, I think this should be safe to do, but if you thin

[2018-10-30 12:34] youennf commented on #540
I do not think this was explicitly discussed at TPAC.
This is point 4 of https://github.com/w3c/webrtc-pc/issues/1945#issuecomment-420510604
I would suggest continuing the discussion on that specific point there.

[2018-10-31 10:59] youennf commented on #540
Filed PR https://github.com/w3c/mediacapture-main/pull/550
It also includes legacy navigator.getUserMedia.
Will write WPT tests once we agree on the PR.

[2018-10-31 17:17] youennf opened #551 "Should we allow empty string device IDs?"
In WebKit, we do want to filter out device IDs provided through enumerateDevices.
This will allow us to give that information to web page:
- after the user grants permission to camera or microphone
- if user granted persistent access to camera or microphone.

This does not seem to be feasible with the current spec except by generating some random IDs if enumerateDevice is called before user grants

[2018-11-04 10:41] fippo opened #553 "should enumerateDevices list infrared cameras by default?"
I just noticed that my Surface Book (windows insider build Version 1809 OS Build 17763.1) exposed the  "Microsoft IR camera front" on https://webrtc.github.io/samples/src/content/devices/input-output/
Only in Chrome, Edge and Firefox seem to filter that device.

Exposing that device doesn't make much sense for normal videochat applications.
It does have some potentially cool applications though.

[2018-11-09 03:19] youennf opened #554 "Specify a way for WebDriver to add/remove/setup capture devices"
As discussed during the WPT F2F at 2018 TPAC, the way to go might be to specify a way to add/remove/setup capture devices through WebDriver.
This might first be implemented as test runner APIs available only in browser CI and later within browser web driver implementations. These test runner APIs will be called within resources/testdriver-vendor.js.
This should allow us to improve WPT test coverag

[2018-11-12 04:58] youennf commented on #554
We could probably author a separate document for now and merge it as an "automation" chapter later on if it proves to be easier this way.

[2018-11-12 07:29] dontcallmedom commented on #554
+1 to @youennf - this would allow us in particular to assess if/when the automation part would get implemented in a way that's compatible with our Recommendation track requirements.

[2018-11-13 08:33] agouaillard-cosmo commented on #554
I mentionned the automation chapter because that s what the WebDriver spec authors mentionned as the mechanism to add webdriver command in the future. We do not extend the webdriver doc itself, but we should add an automation chapter in the corresponding feature doc.

[2018-11-14 08:51] alvestrand commented on #554
Some months back I added a fake-device API in Chromium:

https://cs.chromium.org/chromium/src/third_party/blink/renderer/modules/mediastream/testing/internals_media_stream.idl?type=cs&sq=package:chromium&g=0

Never got around to wiring it up to the actual fake-device driver. But it was a start.

[2018-11-14 14:53] alvestrand commented on #532
TPAC 2018 decided that combined origins are to be removed from the spec. #548 seems to implement that, so issue can be closed.

[2018-11-14 14:53] #532 closed

[2018-11-14 14:55] alvestrand commented on #540
WG meeting at TPAC approved this change, which was merged in #550.

[2018-11-14 14:55] #540 closed

[2018-11-15 16:00] alvestrand commented on #551
The previous thinking was that the device ID, being per-origin and opaque, was not worth hiding.

[2018-11-15 16:42] jan-ivar commented on #551
My concern would be JavaScript would need to start testing these ids against `""`, which seems like unnecessary breakage.

What Firefox does is return temporal device ids if camera or mic permission has not (yet) been granted, but then reclassifies them as persisted ***if*** the user grants later in the same session, otherwise they are forgotten. That way they remain good for the session.

Additio

[2018-11-15 16:49] jan-ivar commented on #551
Another, perhaps hacky, option might be to do [what Chrome does for their redundant "default mic" entry](https://stackoverflow.com/a/53308831/918910) which is to give it a deviceId of the special value `"default"` or similar.

[2018-11-20 14:52] alvestrand commented on #553
This is a good case of "we need to know more" - I don't see a good case for hiding the camera, since that will make it impossible to write applications that use it.
We discussed some time ago the idea of making the capabilities of a device available in enumerateDevices ; "frequencyRange" seems like one of the capabilities that could be exposed.
This is fingerprinting surface, of course, so would p

[2018-11-20 21:42] #541 closed

[2018-11-21 20:36] Kamelia2000 commented on #193
hello  i have two  important question.I appreciate someone help us in this case.
1- How calculate Input-FPS inside Webrtc?
2- How possible to understand part of source code related API call for Encoding?

Thanks,
Kamelia

[2018-11-28 14:36] Pehrsons opened #555 "MediaStream in HTMLMediaElement: Does it have a first frame?"
I originally filed this issue on the media element spec: https://github.com/whatwg/html/issues/4215.

I'm filing an issue here since I reckon the editors here should have a say on that issue's resolution.

[2018-11-29 15:22] jan-ivar commented on #553
`enumerateDevices` should list all `deviceIds` that will work with `getUserMedia`.

[2018-11-29 15:22] alvestrand commented on #553
Closing as "no change needed".

[2018-11-29 15:22] #553 closed

[2018-12-04 06:11] jan-ivar opened #556 "Clarify request for permission is for both audio *and* video (editorial)."
The [getUserMedia](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediadevices-getusermedia) algorithm says: *"[Request permission to use](https://w3c.github.io/permissions/#request-permission-to-use) a PermissionDescriptor with its name member set to the permission name associated with *kind* (e.g. "camera", "microphone")"*

But it's a bit buggy what *kind* refers to here, since we

[2018-12-04 10:40] alvestrand commented on #556
We have language in the spec already that encourages combining permission requests that occur in a single event loop execution: https://w3c.github.io/mediacapture-main/getusermedia.html#implementation-suggestions - "Best Practice 3: Handling multiple devices"

The easiest thing to do is probably to move "request permission" into the FOR loop, with a pointer to the relevant best practice section.

[2018-12-09 05:14] agouaillard-cosmo commented on #554
I believe it should be orthogonal to the permission automation. Permission
should only deal with the prompt.

the tricky part for the fake-device / mock capturer is that it should be
able to understand all the GUM constraints.

On Thu, Nov 29, 2018 at 11:24 PM Harald Alvestrand <notifications@github.com>
wrote:

[2018-12-12 11:49] Pehrsons commented on #555
whatwg/media seems to say that MediaStreams do indeed have a first frame, and there are other types of streams that can be real-time and still have a first frame.

This makes sense to me, and the logic checks out. Yet no major browser engine seems to load the first frame before playing, see https://github.com/whatwg/html/issues/4215#issuecomment-446558960.

Do people here know whether there's a ra

[2018-12-12 17:44] eric-carlson commented on #555
I agree that a stream logically has a first frame, and I can't think of a reason to not render it.

WebKit's behavior is an oversight. I have filed bug [192629](https://bugs.webkit.org/show_bug.cgi?id=192629) to change the behavior.

[2019-01-10 15:17] youennf commented on #551
It then means that the device IDs persist after the user granted permission once.
I do not think WebKit would implement this behavior.

What is the difference between "default" and "" in that case?
In both cases, the device IDs might not be unique per-origin.

[2019-01-15 21:16] jan-ivar commented on #551
The spec [says](https://w3c.github.io/mediacapture-main/getusermedia.html#def-constraint-deviceId): *"The same identifier MUST be valid between browsing sessions of this origin, but MUST also be different for other origins."*

[and](https://w3c.github.io/mediacapture-main/getusermedia.html#constrainable-interface): *"If any local devices have been attached to a live MediaStreamTrack in a page from

[2019-01-15 21:52] youennf commented on #551
I was thinking of the following workflow:

On first time user visit, the web site will do:
1. Call enumerateDevices to check for camera/microphone
2. Call getUserMedia and receive audio/video MediaStreamTracks
3. Store the mic/camera deviceIds attached to the MediaStreamTracks, say in IDB

On the user second visit, the website will do:
1. Retrieve the deviceIds audioDevice1 and videoDevice1 from I

[2019-01-15 21:52] youennf commented on #551
I see, so 'default' is supposed to stay like this for the lifetime of the page.
And your issue is really that we would change deviceIds from default or "" to actual values during the lifetime of the page.

[2019-01-15 22:01] youennf commented on #551
An edge case where, in Safari, device IDs values are already changing:
1 A web page is granted getUserMedia permission
2 The web page does enumerate devices
3 The user flushes cookies for this origin
4 The web page does enumerate devices again
Device IDs will be different in steps 2 and 4.

[2019-01-17 18:02] youennf commented on #551
Wrote a simple test as per the current behavior
https://github.com/youennf/web-platform-tests/commit/0ec50cba19569aa5018d8b722f0e9fb8428fc7d7
Safari and Chrome fails, Mozilla succeeds.

[2019-01-17 18:58] jan-ivar commented on #551
That might work, but in that case I would expect a `devicechange` event to fire. I'd also expect the *deviceId* to be usable in *getUserMedia* before the event but not after, or perhaps during.

What does this accomplish that a random id doesn't?

[2019-01-18 21:48] youennf commented on #551
I am fine allowing this value in getUserMedia anytime (before and after).
As long as a MediaStreamTrack is live, you would expect that calling the same getUserMedia call should succeed.

Implementation-wise, this is more difficult to implement since you need to recall that this random value is actually equivalent to a default deviceId.
And it does not bring any value since it is not hiding anythin

[2019-01-18 22:38] youennf opened #559 "Spec does no handle fingerprinting related to exposing non default capture devices"
The spec calls out that the number of devices is a potential fingerprint.
Most devices have a standard number of cameras and microphones that web sites can infer from information like navigator.userAgent.
Devices with additional cameras/microphones (say USB webcams) can be fingerprinted if enumerateDevices is exposing these additional cameras/microphones.

I wonder whether this specific fingerprin

[2019-01-18 22:42] jan-ivar commented on #551
The value added is it fits within the existing spec; we've not added to the cognitive load of the model exposed to users, which trumps implementation difficulties in the [priority of constintuencies](https://www.w3.org/TR/html-design-principles/#priority-of-constituencies).

FWIW Chrome only supports this special "default" deviceId for microphones, not cameras, and Firefox recently removed this fe

[2019-01-18 22:49] jan-ivar commented on #551
Another way to look at a random id approach:
1. All ids are fresh ones when not persisted from a previous session.
1. Before gUM is granted, expose the id of the camera and mic that is the default at that time.
2. After gUM is granted, expose any additional ids, if the user has several devices.

Where's the extra work?

[2019-01-18 23:42] jan-ivar commented on #551
The web page could likewise store the entire list of deviceIds and labels from the first visit for use on subsequent visits—Most users don't change their device setup too often.

We can compare exposure to what is already possible with IDB (cookies/localStorage/IDB):
 1.  nothing from enumerateDevices(), relying solely on IDB: all devices and labels from last time.
 2. deviceIds from enumerateDevi

[2019-01-19 00:41] youennf commented on #551
Can you describe how enumerateDevices helps repeating visitors?
getUserMedia({audio: deviceId: {ideal: previouslyUsedAudioDeviceId}}) should do the trick for them, previouslyUsedAudioDeviceId being grabbed from MediaStreamTrack.getSettings().
No need for enumerateDevices or am I missing something?

enumerateDevices seems mostly useful for building a device picker, which tends to happen after getUs

[2019-01-19 22:32] jan-ivar commented on #559
As you mention, the spec already calls out the number of devices is a potential fingerprint. I believe the significance of outliers (fonts, dead pixels, uncommon configurations) is well known in the fingerprinting space, and can be assumed to have been understood the several times the fingerprinting surface of this API was discussed in the past, so I'm not sure this qualifies as new information.

[2019-01-22 17:50] youennf commented on #559
There are some evidence on the web that enumerateDevices is currently in use for fingerprinting purpose. If it seems useful for fingerprints, what is the benefit to allow this new fingerprinting vector and what do we forbid if we try removing this fingerprinting vector?

Two additional points:
1. Compared to other fingerprinting, devices might appear/disappear frequently and might be related to us

[2019-01-22 23:08] jan-ivar commented on #559
Inserting or unplugging a USB device *is* user activity, much like a user pressing a key. Use `onkeypress` for the latter, and `navigator.mediaDevices.ondevicechange` for the former, [with limitations](https://w3c.github.io/mediacapture-main/getusermedia.html#mediadevices) like:

When inactive or not in focus (unless there's active gum or ["device-info"](https://w3c.github.io/permissions/#dom-perm

[2019-01-23 04:16] youennf commented on #559
I guess such a USB device API would raise similar concerns on our side.
Similarly, we would not like to have web pages being able to know that some keys were pressed before the page got focus.

Agreed on this issue.
That specific example is not working in Safari though. Some more complex ones might.
This is fixable and it would be nice for implementers if the spec could call out some of these issu

[2019-01-23 13:54] jan-ivar commented on #559
The use-case is: "Sorry, you have no camera". User plugs in camera. "Oh, now you're good".

This is also detectable by calling *getUserMedia* repeatedly.

Again, *enumerateDevices()* and *devicechange* require focus for the drive-by-web.

Right, the order in which constraints must be parsed is not mandated. Whatever the order Safari uses, can be exploited to leak just as much information.

*"This

[2019-01-23 20:50] youennf commented on #559
How does this work though?
enumerateDevices only provides deviceId if getUserMedia is not granted.
In case this is the first call or cookies have been flushed, what information do you provide to the user to pick the devices?
In case of a second visit, the app can provide labels for some devices but it cannot reliably do so in all cases and it cannot give camera/mic previews, which might be anyway

[2019-01-23 20:58] youennf opened #560 "Should getUserMedia promise be resolved only on pages that have focus"
Safari currently does not resolve/reject a getUserMedia promise until the view is visible.
This allows to start capture on a page that the user has access to.
Should this be mandated in the spec?
The same question might apply to enumerateDevices.

[2019-01-23 22:21] jan-ivar commented on #560
Firefox has this behavior as well. Turning on camera/mic from a background tab is creepy.

This might even be something that could go in the [permissions](https://w3c.github.io/permissions/#request-permission-to-use) spec.

Having prompts appear from background tabs is generally a UX security issue.

*enumerateDevices()* does not require permission, so I'd treat that as a separate issue I think.

[2019-01-24 04:54] youennf opened #561 "enumerateDevices can be used to track user devices in background pages"
enumerateDevices currently use [storedDeviceList] to return the same list of devices as long as there is no devicechange event. devicechange events only fire when page has focus.
enumerateDevices can still be used on an iframe being reloaded every 1 second to gather the exact number of devices since [storedDeviceList] is initially null.

As per the spec, if the origin was granted once device acces

[2019-01-24 05:03] youennf opened #562 "What constraint name should be exposed in case of a getUserMedia query with multiple failing constraints"
Crafting a getUserMedia request that always fails allows guessing the capabilities of a system, in particular if the request has one constraint that is known to always fail and a second constraint that may or may not fail.

Some potential countermeasures:
- Not return the failing constraint name if getUserMedia is not already granted
- Return the constraint name that can never be met

[2019-01-24 05:07] youennf commented on #559
I do not see that being used in widely used websites.
In those websites, I see getUserMedia being called upfront and previews of camera to help the user select the right device.

That does not preclude to implement that UI without enumerateDevices: detect the device type based on the user agent and other available information, then fill the UI with the default cameras/microphones found for these d

[2019-01-24 05:15] youennf opened #563 "enumerateDevices is exposing devices labels for origins that are granted access once"
An origin may have had access once to getUserMedia.
In that case, the web page might have stored the list of available devices at that time including labels.
As per https://github.com/w3c/mediacapture-main/issues/559#issuecomment-456990813, all devices will then be exposed to that origin including labels.

This seems to include new devices for which labels were not exposed to the web page initiall

[2019-01-24 05:16] youennf commented on #559
Filed https://github.com/w3c/mediacapture-main/issues/563

[2019-01-24 15:03] jan-ivar commented on #559
@youennf thanks for filing those issues! This is getting long, so I'll comment there where applicable, and focus here on why plugging *enumerateDevices()* alone won't move the needle (much).

Pre-first-grant:
 1. For 99% of users, *enumerateDevices()* leaks no more than UA + *getUserMedia()* probing.
 2. For 1% with more than the desktop/mobile typical number of devices, it leaks that number. ![fi

[2019-01-24 15:45] youennf commented on #559
The difference is that enumerateDevices will leak information without any prompt.
getUserMedia can be implemented in a way that would require user prompting to be able to get as much information as enumerateDevices would expose.
This makes getUserMedia probing much more costly than enumerateDevices.

[2019-01-24 19:03] jan-ivar commented on #559
I think fixing https://github.com/w3c/mediacapture-main/issues/562 for this case is reasonable. The rest of this post is about the *pre-subsequent-grant* case, because you specifically mentioned not wanting to implement (b) earlier.

I assume we're only talking about cross-site fingerprints, because:
[code]
.. and if user clears cookies [1] then go to "Pre-first-grant". Otherwise:

Here, I should

[2019-01-24 21:44] youennf commented on #559
Cross-site fingerprinting is one concern.
https://github.com/w3c/mediacapture-main/issues/563 is another issue, non default device labels have high value and can give insights to user preferences.
Exposing the timing of plug/unplug could potentially be used to learn about user habits (big data).

Agreed.
As of unreliable for a small sub-population, maybe it will increase over time (BT headset, act

[2019-01-24 21:44] youennf commented on #559
Looking at chromestatus.com, navigator.mediaDevices.enumerateDevices is apparently called on 2% of the pages while getUseMedia is below 0.1%.

[2019-01-24 22:41] fippo commented on #559
https://www.chromestatus.com/metrics/feature/timeline/popularity/1119 shows the chromestatus data for enumerateDevices, the recent addition of urls is *very* useful. I think its pretty obvious this should be securecontext asap.

@alvestrand ^^

[2019-01-24 23:40] jan-ivar commented on #561
This circumvents the intent behind the [[storedDeviceList]], so I think we need to fix this.

[2019-01-24 23:54] jan-ivar commented on #561
I ran a couple ideas in my head:

If, [on pageload](https://w3c.github.io/mediacapture-main/getusermedia.html#mediadevices), the document is not fully active and in focus, then instead of `null`:
 1. Initialize [[storedDeviceList]] to an empty list.
 2. Initialize [[storedDeviceList]] to a previous in-memory cached storedDeviceList for this origin, or `null` if not found.
 3. Initialize [[storedDe

[2019-01-25 05:55] youennf opened #565 "Should a devicechange event be fired when the list of devices stays the same"
Let's say page A is loaded.
Another page B is loaded and A is backgrounded.
User plugs camera to use it for B.
User unplugs camera.
User closes B.
Page A goes in the foreground.

At that point, it is not clear whether a devicechange event should be fired for page A or not.
If a devicechange event is fired, this leaks a small amount of information to the web page unnecessarily.

In general, if the

[2019-01-25 06:00] youennf commented on #560
Right, Safari is not resolving getUserMedia promise even in the case where no prompt will be shown to user (say user granted persistent access to this website).

One could think of relaxing this rule in case the device is already capturing.
But that can probably be emulated with clone+applyConstraints so I am not sure this is worth optimizing.

I guess the idea would be to postpone the whole getUs

[2019-01-25 06:04] youennf commented on #561
There is the case of a page being loaded (so it has focus) that can instantiate a 1000 frames which will have focus at that time (hence with a [[storedDeviceList]] set as null). Each frame can then be used to call enumerateDevices at different times.

Options 1 to 4 can probably be specced so that at the first enumerateDevices call, in case [[storedDeviceList]] is null and page has not focus, do a

[2019-01-25 15:43] jan-ivar commented on #562
As does success. We're happy to implement this FWIW, and don't anticipate difficulty, as optimizing a failure path is of low value to us.

Compared to what's already missing for WPT, I think this change pales. If anything, it decreases implementation variance, simplifying tests.

Most importantly, I believe this PR is something editors can merge now without controversy.

I think that's going to be

[2019-01-25 17:23] youennf commented on #562
It makes sense to me for the WG to first decide whether filtering constraintName is feasible or not, and if so, as a MAY or a MUST.

Let's try to see whether we can make it succeed!

It would be nice if the people supporting this error reporting could chime in and express whether such change would break their use cases and why it is important to have it pre-grant info compared to post-grant.

FWIW

[2019-01-25 18:13] jan-ivar commented on #560
Firefox has the same behavior. Testing with [this fiddle](https://jsfiddle.net/jib1/jyysn48t/) in two tabs, Chrome and (early) Edge do not. @alvestrand @henbos @aboba thoughts?

I agree.

I can submit a PR for discussion. Then we can argue over MAY, SHOULD or MUST, if we like this.

[2019-01-25 20:18] jan-ivar commented on #561
Good one. The spec mitigation is flawed. [[storedDeviceList]] cannot live in the browsing context. Instead, it would have to be cached per origin probably.

It would solve all these issues, including the 1000 frames. It might also help reign in the rampant misuse, steering it toward its intended use-case.

The only downside I see would be if https://github.com/w3c/mediacapture-main/issues/560 isn'

[2019-01-25 20:59] jan-ivar commented on #562
Hmm? That's an unconstrained case. It would never fail with *OverconstrainedError*.

The only cross-kind constraints are *deviceId* and *groupId*, so yes if you double up and get `OverconstrainedError` with  an `error.constraint` of `"deviceId"`, then yes, you'll have to guess whether camera or mic was the problem, and try again. As I recall, the WG decided to punt on that.

This is covered in the

[2019-01-25 21:00] jan-ivar commented on #562
You probably want to mention that in [public-webrtc](https://lists.w3.org/Archives/Public/public-webrtc/2019Jan/0061.html).

[2019-01-28 16:38] jan-ivar commented on #562
@alvestrand Alphabetic order would not prevent [the exploit](https://jsfiddle.net/jib1/n0scjq18/).

[2019-01-28 17:04] youennf commented on #562
I would be curious to know which websites are gathering such getUserMedia constraint failure stats.

I did look at some popular video conferencing web sites and how they use getUserMedia.

For a first-time user, I haven't seen use of any mandatory constraint, except to ask for both audio and video. Ideal constraints are sometimes used to set things like video resolution.

For a second-time user be

[2019-01-31 08:31] alvestrand commented on #559
@fippo spec-wise, enumerateDevices is [SecureContext] following https://github.com/w3c/mediacapture-main/pull/550 - please file bugs on appropriate browsers.

[2019-01-31 17:34] youennf commented on #563
I tend to agree.
As an implementor, I would go with 'none', which is unfortunately not spec compliant.
The fact that labels of new devices are leaked is not pointed out in the spec.
It could lead implementors to choose 'none' instead of 'all', should the spec allow both modes.

[2019-02-06 20:58] youennf commented on #562
I guess it should be a NotFoundError, which does not provide information on which one is missing.

Something like getUserMedia({video: {deviceId: {exact: 'non-existent'}}}) could be used to leak information that a given setup has no camera if this information is not already provided by enumerateDevices.

[2019-02-14 12:31] henbos opened #568 "OverconstrainedError should be a DOMException"
See https://github.com/w3c/webrtc-pc/issues/2082

[2019-03-07 17:33] henbos opened #573 "Remove overconstrained event (Why do we have overconstrained event?)"
In practice it seems that constraints would never be violated for getUserMedia()-supplied tracks. You get what your device is configured for. In theory, the device might not give you what you ask for, but in practice you should. At least the way Chrome is implemented, you would never reconfigure a camera such that existing tracks become overconstrained.

According to Chrome's GUM implementer @guid

[2019-03-07 21:24] jan-ivar commented on #573
That's spec mandated and true in other browsers as well. *applyConstraints* is first-come first-served.

TL;DR: I see no practical uses of the *overconstrained* event, locally or remotely. I suspect it's there to complete a general pattern. I'd rather remove it than look for uses for it, as I prefer use-cases driving design over symmetry.

 * It's redundant: just measure the output directly and re

[2019-03-08 08:48] henbos commented on #573
That's part of my point, I'm questioning everything now. Overconstraining for a remote track doesn't make much sense to me because it doesn't _just_ inform you that conditions are not met, it _mutes_ the track (which has a different meaning for WebRTC's remote tracks). But I couldn't think of a how it would overconstrain if not for remote tracks. Given your frameRate example, I guess this makes "m

[2019-03-08 09:03] henbos commented on #573
The benefit of overconstrained over "just measure the output directly and react to it" is 1) you don't have to poll frequently, the browser would allow you to react on the very frame that overconstrained it, 2) you don't have to implement application logic for diagnosing whether or not a track is constrained and 3) it reuses the same logic and algorithms that was used to configure the track.

Perh

[2019-03-08 09:13] henbos commented on #573
Proposal A

In order of importance, but 2. and 3. are up for discussion.
1. Don't mute a track that gets overconstrained, it makes it a foot-gun and it contradicts the definition of being muted means: "live samples are not made available to the MediaStreamTrack".
2. Add a boolean overconstrained attribute to indicate whether or not it is currently overconstrained.
3. Add an onunoverconstrained eve

[2019-03-08 13:47] jan-ivar commented on #573
I'd vote for B. Firefox never implemented it, and no-one has asked us for it.

Agree. I think it's a web compat issue at this point: if implemented literally, any application already using `{frameRate: {min: 60}}` today and ***not*** listening to the `overconstrained` event, would suddenly have its track muted in low light.

I claim no-one wants that. If the expectation is the application *immedia

[2019-03-08 14:45] jan-ivar commented on #573
Today's spec behavior would be trivial to polyfill for apps that truly want it:
[code]
The opposite not so much without incurring a flicker.

[2019-03-11 08:12] armax00 commented on #573
There are cases where an event such as overconstrained might be useful, for example if the device firmware is malfunctioning; it could also be that the application developer has the intent to avoid wasting battery, wasting resources, or wants to guarantee certain behavior. Which means, that at least for local devices such an event might be useful, but I do not know how big a difference it would be

[2019-03-12 14:39] henbos commented on #573
We can discuss proposal A vs propsal B at the interim.

[2019-03-14 12:09] sourabharsh commented on #457
Guys, I have been trying to read the raw audio data in mobile Chrome for last 3 months. I have tried different different filters but haven't been successful in getting the raw audio data.
While we work on fixing this in the Chrome , is there a way that I can use to get the raw audio data from the current mobile chrome?

[2019-03-15 00:55] youennf commented on #573
I agree with @jan-ivar and would vote for B.
Option A requires a comprehensive list of use cases to properly design things, maybe it should be in scope of WebRTC NV.

I can see some usecases.

For local tracks, a browser might be able to support capture of two cameras at the same time, but not three. If one website is already capturing with 1 cameras, a second website might be able to do getUserMe

[2019-03-18 12:53] henbos commented on #573
Chrome is also happy to not implement this.

[2019-03-18 13:54] aboba commented on #573
Since `onoverconstrained` has not been implemented, it probably should have been labelled as "at risk".  I would agree that it makes little sense to mute the track, particularly if the track is remote.

While I can think of use cases where an event might be useful (e.g. for regulatory compliance with respect to signing support, being able to require a minimum framerate), the lack of developer requ

[2019-03-18 16:06] fluffy commented on #573
As an app developer, it is critical that the browser let me know if something has changed such that is not longer meeting required constraints. Now if there is an argument there is no way for that to ever happen, great, but I don't believe that is true - particularly across mobile devices.

[2019-03-18 23:31] jan-ivar commented on #573
We haven't come across a case where this can happen *today*, which leaves us with nothing to implement and test. Without such an implementation, how can we keep it in the spec?

[2019-03-21 16:03] alvestrand commented on #573
Seems like the rules for going to PR "encourage" us to remove it.
It seems more attractive to try to address the use case by an extension spec if we can figure out a case where it is really necessary to adddress it.

[2019-03-23 09:09] fluffy commented on #573
On the can not happen ....  What about you have set a min frame rate of 30 and the camera decides to move it to 25 ?  Am I missing something about how that can not happen today ?

[2019-03-23 09:44] henbos commented on #573
@fluffy Yes you are right that this can happen, but I think we are trying to use constraints for different problems/use cases at the same time.

"Did I get what I asked for?" is actual two questions.
1. Is the track constrained the way I asked it? This means, is it configured with settings that are compatible with my constraints. I.e. it is configured with the right resolution? Is it configured to

[2019-03-24 13:20] fluffy commented on #573
Uh, the point of all this has been since the very beginning for mandatory constraints to give an error if the system was not meeting the constraints for whatever reason.

[2019-03-24 13:56] youennf commented on #573
For getUserMedia/applyConstraints, you will get an error at the time you are setting the values.
If applyConstraints fails, you will still be able to continue the capture.
I do not think we would like a failing appplyConstraints to mean that the track gets ended.

I agree with the desire from a web developer to be notified of such kind of changes (and hopefully have ways to react upon them). Let's

[2019-03-25 20:16] guest271314 opened #575 "Proposal: DecodeConcatVideoData (input multiple files or streams) => Output: single webm file"
**Proposal: DecodeConcatVideoData (input multiple files or streams) => Output: single webm file**

Web Audio API provides the ability to [`decodeAudioData`](https://webaudio.github.io/web-audio-api/#dom-baseaudiocontext-decodeaudiodata) where the result is a single [`AudioBuffer`](https://webaudio.github.io/web-audio-api/#audiobuffer). `AudioBuffer`s can be concatenated into a single `AudioBuffer`

[2019-04-08 02:34] guest271314 commented on #320
@alvestrand Interestingly Firefox 68 sets the `MediaStreamTrack` `label` attribute to `"remote"` when passed to a WebRTC `PeerConnection` using `addTrack()` which results in the error `SecurityError: The operation is insecure.` when `MediaRecorder` `start()` method is executed. Have not been able to find that functionality described in https://w3c.github.io/mediacapture-fromelement or https://w3c.

[2019-04-11 14:08] youennf commented on #561
Fixed by https://github.com/w3c/mediacapture-main/pull/574

[2019-04-11 14:08] #561 closed

[2019-04-11 14:10] youennf commented on #562
Fixed by https://github.com/w3c/mediacapture-main/pull/574
UA only exposes the name if the permission state of the "device-info" permission is "granted"

[2019-04-11 14:10] #562 closed

[2019-04-11 14:13] youennf commented on #563
Reading again https://w3c.github.io/permissions/#media-devices, the spec seems like an implementation decision, in particular:
The UA MAY treat result as new information about the user’s intent with respect to the "device-info" permission for this realm and other realms with the same origin, provided it doesn’t violate the previous step.

Closing.

[2019-04-11 14:13] #563 closed

[2019-04-11 14:18] alvestrand commented on #575
I think this belongs in MediaRecorder, if anywhere; this API does not deal with files.

[2019-04-11 14:23] youennf commented on #559
Closing this issue as sub issues were filed and solved, in particular:
https://github.com/w3c/mediacapture-main/pull/574

[2019-04-11 14:23] #559 closed

[2019-04-11 15:39] guest271314 commented on #575
@alvestrand While you are around, what is the specification compliant procedure to get this code (close to what this issue proposes) https://github.com/guest271314/MediaFragmentRecorder/blob/webrtc-replacetrack/MediaFragmentRecorder.html working at Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1542616#c8)?

[2019-04-11 15:57] guest271314 commented on #575
@alvestrand That is, where two `RTCPeerConnection` instances are created by the user within the same scope why is isolating or labeling the `MediaStreamTrack` `"remote"` mandated by the specification? Following your suggestion re `MediaRecorder` can that API be extended to include the functionality of `RTCRtpSender.replaceTrack()` (e.g., `MediaRecorder.replaceTrack(withTrack)`) without explicitly

[2019-04-11 16:18] guest271314 commented on #575
@alvestrand Presumptively https://github.com/web-platform-tests/wpt/blob/master/webrtc-identity/RTCPeerConnection-peerIdentity.html `setIdentityProvider()` (defined at Firefox, not at Chromium/Chrome) would remove the `"remote"` label from the `MediaStreamTrack`? If that is correct can you include a complete example in the specification https://www.w3.org/TR/webrtc-identity/ itself of how to achie

[2019-04-23 12:35] jgupta opened #577 "echo cancellation scope"
In reference to [echo cancellation definition](https://w3c.github.io/mediacapture-main/#def-constraint-echoCancellation), it should be removing the sound being played. Now, [some browsers](https://bugs.chromium.org/p/chromium/issues/detail?id=687574) considers only sound being played from Webrtc remote peers for echo cancellation and not from the sound being played from other sources such as Web A

[2019-04-25 12:02] henbos commented on #577
This spec does not limit echo cancellation to WebRTC-generated audio, it says "it is often desirable to attempt to remove the sound being played from the input signals recorded by the microphones". It sounds like what you are experiencing are browser implementation bugs, not spec bugs.

Alternatively, if we want echo cancellation only to apply to specific use cases such as WebRTC, then perhaps the

[2019-04-25 12:38] henbos opened #578 "Add note on applicability of constraints to tracks in other specs"
Attempting to interpret how constraints defined in this spec, which was written with MediaStreamTracks generated by getUserMedia() in mind, apply to MediaStreamTracks generated in the contexts of other specs (such as webrtc-pc or mediacapture-screen-share), leads to confusion.

The solution to this under-specificity was to explicitly define what constraints do in the respective specs.

To make thi

[2019-04-25 14:52] aboba commented on #575
Closing since this issue does not relate to Media Capture and Streams.

[2019-04-25 14:52] #575 closed

[2019-04-25 14:58] alvestrand commented on #577
Current text is "When one or more audio streams is being played in the processes of various microphones, it is often desirable to attempt to remove the sound being played from the input signals recorded by the microphones."

It might be clearer if we express it as "When audio is being played out at the same time as recording from a microphone".

[2019-04-25 21:29] guest271314 commented on #575
@aboba This issue does directly relate to Media Capture and Streams, as evidenced by the title of the issue

and the body of the issue

If, in your view, the issue does not relate to Media Capture and Streams, how do reconcile the fact that the title and content of the proposal specifically describe capturing media streams and outputting a single media file?

[2019-04-26 08:06] #573 closed

[2019-04-26 08:12] henbos opened #581 "Travis is failing git checkout with "reference is not a tree""
We tried with three different PRs and get (#576, #579 and #580 ):

The last one was uploaded from a different checkout of a different fork on a different machine.

@dontcallmedom are you the right person to take a look at Travis failures?

[2019-04-26 09:27] jgupta commented on #577
We have tested this with various browsers. It appears that Firefox, Safari, Edge considers all audio being played from the browser for echo cancellation. However, Chrome only considers audio being played from the webrtc remote peer connection.

Google Chrome also [does not consider this a spec bug](https://bugs.chromium.org/p/chromium/issues/detail?id=687574#c32) as they say "it's not specified wh

[2019-04-26 09:34] henbos commented on #577
OK the spec should be more explicit about it.

[2019-04-27 12:16] alvestrand commented on #581
The usual reason is that someone's done a history rewrite on the repo (often a bad idea).
This is the reason why it's often more convenient to check out tags than to check out hashes.

[2019-04-30 18:58] jan-ivar commented on #549
I think this is a good idea. It'd mean *enumerateDevices* would resolve empty from cross-origin iframes unless either `allow="camera"`, `allow="microphone"`, `allow="speaker"`, or any combination of those were specified, and even then you'd only get the relevant info.

It seems to hinge on the definition of "available". I think this deserves more specific mention. I'll work on a PR.

[2019-05-01 05:37] guest271314 opened #583 "When an HTMLMediaElement has srcObject set to a MediaStream where the MediaStreamTrack is muted the HTMLMediaElement muted attribute should be set to muted to reflect muted input and muted output"
The relevant specifications

https://w3c.github.io/mediacapture-main/#media-flow

https://html.spec.whatwg.org/multipage/media.html#dom-media-muted

Consider this question Check if selected microphone is muted or not with web audio api https://stackoverflow.com/q/41309682

and these comments

<p>

and code https://jsfiddle.net/guest271314/5bzxd8ar/5/

[code]

to test the result of setting mute and

[2019-05-01 05:38] guest271314 commented on #583
jsfiddle reproducing the described behaviour https://jsfiddle.net/guest271314/5bzxd8ar/4/

[2019-05-01 22:48] guest271314 commented on #583
@annevk See above issue relevant to HTML Standard description of `muted` attribute of `HTMLMediaElement`. The `muted` attribute of the `<audio>` or `<video>` element should be set to the value of the `MediaStreamTrack` when the `srcObject` of the `HTMLMediaElement` is set to a `MediaStream`, else the resulting value of `HTMLMediaElement.muted` will continue to be inconsistent, and in certain cases

[2019-05-02 13:56] henbos opened #584 "ResizeMode (crop-and-scale) is underspecified"
When downscaling a resolution, there are at least three ways you could do it if the new aspect ratio is not the same as the original one:
- Stretch it.
- Don't stretch it, achieve new resolution by "zooming in" to the middle of it.
- Don't stretch it, achieve new resolution by making the picture smaller and adding black bars to fill out the part of the rectangle that doesn't have the picture.

The

[2019-05-03 10:08] guidou commented on #584
Chrome uses the largest centered rectangle with the same aspect ratio of the original frame that fits entirely inside of the target resolution.
So, basically, first downscale the original (as little as possible) while maintaining the aspect ratio until the target width or height is matched, and then crop to match the other dimension if necessary.

[2019-05-03 10:35] henbos commented on #584
Great, I think that was what @jan-ivar was hoping for, yes?

[2019-05-03 15:57] eric-carlson commented on #584
WebKit doesn't trim, it uses letterbox scaling: the video's clean aperture rectangle is scaled to fit completely in the destination size. If the destination pixel aspect ratio is different, the remainder of the destination is filled with black.

[2019-05-03 19:44] jan-ivar commented on #583
`element.muted` reflects the local state of the user control on the element itself, [regardless of source](https://jsfiddle.net/jib1/epcywf1v/):
[code]
Source changes do not alter this value, and I don't think media streams should work any different.

There's an impedance mismatch here. Confusingly, two unrelated features are both called "mute":
 1. Track [muted](https://w3c.github.io/mediacapture

[2019-05-06 16:02] youennf commented on #578
I agree this should be clarified to know which constraints are to be supported and which are not.
If we think some properties should be/can easily be supported for all sources of a given track type (say video), requirements should be put here and not repeated in each sub spec.

[2019-05-06 17:31] jan-ivar commented on #584
@henbos Yes, that's what I expected, and complies with my "more modes" reading of the [spec](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediatrackcapabilities-resizemode):

*"The user agent MAY use cropping and downscaling to offer* ***more resolution choices than this camera naturally produces***. *The reported sequence MUST list all the means the UA may employ to* ***derive re

[2019-05-06 17:36] jan-ivar commented on #584
@eric-carlson Thanks for the info. The WebKit vs Chrome behavior here seems a bit of a web compat issue, which probably speaks to that the spec could be clearer.

[2019-05-09 07:45] armax00 opened #585 "Remove or rename 'volume'"
The 'volume' constrainable property is defined as being a multiplier applied to the linear audio samples. This means that this property does not control the volume of the audio device capture (which can be adjusted by the user and determined by the OS/HW) but rather the gain. More precisely, since the range allowed is between 0 and 1, this constrainable property controls the loss (gain between 0 a

[2019-05-09 13:35] alvestrand commented on #584
In discussion in the WG, my memory says that we did not want to permit distortion, so stretching was right out. Crop-and-scale was intended to be "crop to desired aspect ratio, then scale to desired # of pixels".
We also decided not to do black bars.
For reference, the CSS object-fit property is described here: https://www.w3schools.com/css/css3_object-fit.asp - we decided to not to "fill" or "con

[2019-05-09 14:43] #583 closed

[2019-05-09 14:45] alvestrand commented on #585
Seems to not be implemented in Safari or Firefox at the moment.

[2019-05-09 14:46] #577 closed

[2019-05-09 15:11] guidou commented on #585
My interpretation of the spec is not that it is a multiplier applied to the samples, even though the word multiplier is used. I interpret that the value of the property is a value between 0 to 1 such that the value, when multiplied by a constant (or maybe a function) results in the maximum volume and 0 the minimum.
This said, I would instead propose to remove this from the spec. No browser impleme

[2019-05-09 15:59] guest271314 opened #586 "Add replaceTrack method to MediaStream"
Related:

- https://github.com/w3c/mediacapture-record/issues/4

- https://github.com/w3c/mediacapture-record/issues/166

- https://github.com/w3c/mediacapture-main/issues/575

- https://github.com/w3c/webrtc-pc/issues/2171

Given a `MediaStream` instance either created using `new MediaStream()` and/or by `getUserMedia()`, `HTMLMediaElement.captureStream()`, add a `replaceTrack()` method directly

[2019-05-10 16:09] armax00 commented on #585
Based on a chat with alvestrand, it was clarified that this constrainable property was meant to determine loss, more precisely an additional layer of processing on a track to lower the volume of the track. I am not sure about the initial intention and use-case for such a constraint, but it looks to me the constrainable property should either be removed or renamed.

[2019-05-15 11:44] henbos commented on #585
Shall we remove it? ;)

[2019-05-15 14:41] guidou commented on #585
+1 to remove it

[2019-05-15 20:04] eric-carlson commented on #585
WebKit implements 'volume', but we won't object to removing it.

[2019-05-16 14:44] alvestrand commented on #585
seems that only Safari has implemented it, and don't object to removing it.
Marking "ready for PR".

[2019-05-20 12:52] armax00 commented on #585
Anything missing on the PR/bug?

[2019-05-21 14:25] henbos commented on #547
Should be: assigned to armax00. What do we have to do to make him assignable and have the rights to change labels?

[2019-05-22 06:45] armax00 commented on #554
I would say that it is the case that the API should allow to set supported constrainable properties, though I would imagine that this API should expose a way to set capabilities (which means that at least the syntax should be a subset of GUM, avoiding advanced and ideal values).

@agouaillard-cosmo I guess the "tricky part" you are pointing at is the difficulty to track all the extensions that def

[2019-05-22 12:02] dontcallmedom commented on #581
once #592 is merged, Travis CI should be happy again (existing pull requests would need to be rebased)

[2019-05-23 09:14] jgupta opened #597 "Echo Cancellation"
On #577 echo cancellation definition was changed to make the scope more explicit. However, I am confused by [several comments](https://bugs.chromium.org/p/chromium/issues/detail?id=687574#c38) made [by the Chrome team](https://bugs.chromium.org/p/chromium/issues/detail?id=687574#c40).

What is the use of echoCancellation property in spec if it does not make it clear that echo cancellation must att

[2019-05-23 09:30] henbos commented on #597
I believe the intention is to allow browsers to perform echo cancellation to the best of its abilities, but to give applications control of turning it off if it has undesired consequences. It's hard to write hard requirements of what an echo canceller "MUST" be able to achieve because a browser's echo cancellation mechanisms are very much an implementation detail of the browser. There is no standa

[2019-05-23 10:29] jgupta commented on #597
It is not about what it must be able to achieve (performance) or about the algorithm or implementation detail but what it should attempt to be doing.

1. Echo Cancellation should be turned off or on depending on echoCancellation property.
2. When echoCancellation is turned on, then as per [definition](https://w3c.github.io/mediacapture-main/#def-constraint-echoCancellation) browser should attempt

[2019-05-23 10:46] henbos commented on #597
It's debatable if it should be a "recommends", a "SHOULD" or a "MUST" to have echo cancellation apply to everything. But even if it's a "MUST" to _attempt to remove all the sound_, you can easily imagine a browser that _attempts_ to remove echo from WebAudio but it just isn't very good at doing so, and you end up with echo anyway. This relates to the problem that _how to do echo cancellation_ is o

[2019-05-23 10:59] jgupta commented on #597
I don't understand why are you talking about performance or guarantees or how to do echo cancellation? It is totally ok if browsers attempt to remove echo but fail to do so due to limitations.

I also understand that Chrome may choose to remain non-compliant to specs until they wish to.

All I am saying is that different browsers are interpreting specs differently. Chrome, in this case, insists th

[2019-05-23 11:09] henbos commented on #597
We could make it a "MUST attempt" to further guide implementations but Chrome's current implementation (no attempt), while it would then be a "bug" rather than a "feature", it would not be _observably different_ than a terrible attempt (which would be spec-compliant). As such, the difference between a should and a must in these under-specified areas are mostly philosophical.

[2019-05-23 11:26] guidou commented on #597
"MUST attempt"  sounds like a bad idea for a spec because a failed attempt (spec compliant) is indistinguishable from no attempt (not spec compliant). Thus, it is impossible to test conformance.

[2019-05-23 14:34] #581 closed

[2019-05-23 17:35] youennf opened #598 "Should deviceId be partitioned by top level origin and document origin"
WebKit is currently partitioning deviceId by top level origin and document origin to prevent tracking. On going work is done to define such kind of partitioning for the HTTP cache and there are thoughts to extend it to other types of storage like service workers and IDB.

[2019-05-23 19:24] alvestrand commented on #598
Firefox used to use double keying (top level & document) for permissions. The spec was written to permit both patterns to be conformant. I believe double keying has been abandoned by all - instead, we changed the default delegation to cross-origin iframes to "block" - one has to explicitly delegate permissions to an iframe if you want it to be able to use the invoker's permissisons.

I'm not sure

[2019-05-23 20:32] youennf commented on #598
Agreed for permissions. WebKit is requesting decision on behalf of the top level origin, which is the one the user is most aware of.

For device ID, that would mean that a conferencing app opened in an iframe on multiple sites would see different device IDs for the same device. This makes most sense if you partition other storages like IDB.

Ideally, a partitioning concept would be defined for HTT

[2019-05-24 11:07] #585 closed

[2019-05-27 18:18] alvestrand commented on #597
If there is no difference, it's hard to claim conformance.

However, I'd like to see a test setup that demonstrates the difference between version 1) and 2) in comment #3 - if we can make that a test that (old) Edge, Firefox and Safari pass and Chrome fails, then we have something that can be the basis of a testable definition.

[2019-05-28 02:37] jgupta commented on #597
Basic Test Code: https://jsfiddle.net/mdzcpaqo/1/

Testing it in Chrome is most simple, we just need to chrome://webrtc-internals/ and enable diagnostic audio. If echo cancellation kicks in, we should see a reverse file having some size (we can open it in an audio editor).

Testing it with other browsers is a bit complex due to lack of tools, we had to record microphone input and analyse it oursel

[2019-05-28 08:00] Pehrsons opened #599 "Clarification needed on HTMLMediaElement attributes that carry over"
Imagine the following code:

[code]

Per the spec the first two logged lines will be `0.5` and `1`, respectively. But what should be returned the third time? Does it keep `1`, or is it reset to `0.5` which it had before the `MediaStream` was assigned?

The same applies to the `defaultPlaybackRate` and `preload` attributes.

The spec also says to not fire `ratechange` on setting `playbackRate` or `

[2019-05-28 13:59] foolip commented on #585
@eric-carlson is there a WebKit bug tracking the removal of this? There's an [Intent to Deprecate and Remove: volume property](https://groups.google.com/a/chromium.org/d/msg/blink-dev/8-Qn7pu41Kk/BWl_CjilBAAJ) on blink-dev now, which ought to leave WebKit as the only engine supporting it.

[2019-05-28 15:16] Pehrsons commented on #599
I eventually found this in the HTMLMediaElement spec:

That takes care of my "ratechange" concern. But the question remains of what values `playbackRate`, `defaultPlaybackRate` and `preload` should have when changing to a non-MediaStream source after having had a MediaStream source..

[2019-05-28 15:17] jan-ivar commented on #599
`0.5`, because [html](https://html.spec.whatwg.org/multipage/media.html#dom-media-playbackrate) says *"on getting it must return the last value it was set to, ..."*, which was `0.5`.

[Mediacapture](https://w3c.github.io/mediacapture-main/getusermedia.html#mediastreams-in-media-elements) says: *"On setting: ignored. On getting: return 1.0"*. It doesn't say *"set [state] to 1"*.

This might have be

[2019-05-28 15:58] eric-carlson commented on #585
@foolip yes, I filed [[MediaStream] remove 'volume' constraint](https://bugs.webkit.org/show_bug.cgi?id=198295)

[2019-05-28 19:46] foolip commented on #585
Thanks Eric!

[2019-05-30 14:22] #547 closed

[2019-05-30 14:23] #578 closed

[2019-05-30 14:34] jan-ivar commented on #599
A suggestion was made to test existing behavior before deciding on a PR to merge here.

[2019-05-30 21:52] jan-ivar commented on #599
So here's my brief test with https://jsfiddle.net/jib1/avr1w8k0/ basically:
[code]
The results show variance and that none are to spec. They all fire ratechange when they shouldn't, and none of them preserve the non-stream value.

Firefox:
[code]
Chrome:
[code]
Safari:
[code]
Edge:
[code]

From my reading of the spec, clarified by https://github.com/w3c/mediacapture-main/pull/600 it should be:
[co

[2019-05-30 22:22] youennf commented on #599
It seems all browsers set the ratechange to 1 when setting a srcObject MediaStream.
It seems Chrome, Firefox and Safari all keep/set it to 1 when setting srcObject to null.
I would tend to keep these two behaviors.

The fact that the setter does nothing in case of media stream has the small benefit of allowing an application to detect that setting a ratechange is a no-op. This should also preclude

[2019-05-30 23:11] jan-ivar commented on #599
So I think you're saying
[code]

[2019-05-31 00:18] youennf commented on #599
One option would be to say that:
1. setting a MediaStream srcObject sets the rate to 1 (not in the spec right now)
2. once a MediaStream srcObject is set, setting the rate is a no-op (in the spec right now)
Step 1 should then say whether setting the rate triggers a ratechange event or not. I would tend to allow a ratechange event there.
Your test case would give something like:
`0.5
ratechange
1
r

[2019-05-31 00:30] jan-ivar commented on #599
@youennf I've updated the PR. PTAL.

[2019-05-31 08:45] Pehrsons commented on #599
You're fooling yourself, because the [media element load algorithm](https://html.spec.whatwg.org/multipage/media.html#media-element-load-algorithm) contains this:

My initial example is equally bad.

Setting both `defaultPlaybackRate` and `playbackRate` will give a better view of the current state.

That said, this example's tracking of "ratechange" provides insight into the corner case where `pla

[2019-05-31 08:58] Pehrsons commented on #599
I've updated your test fiddle to https://jsfiddle.net/pehrsons/pk8mo36d/

The async waiting for gUM also let one "ratechange" slip through that would otherwise have been cancelled (per [my 2nd comment](https://github.com/w3c/mediacapture-main/issues/599#issuecomment-496561453)).

[code]

Firefox:
[code]

Chrome:
[code]

Safari:
[code]

Unfortunately I'm not able to test Edge.

It seems to me that

[2019-05-31 22:06] jan-ivar commented on #599
Thanks Andreas! In light of those findings, I propose reverting the PR to what I had originally, based on my first https://github.com/w3c/mediacapture-main/issues/599#issuecomment-496562096.

[2019-05-31 22:11] youennf commented on #599
We should change the example to:
[code]

In that case, I would expect the results to be:
[code]
Do we agree on this?

[2019-05-31 22:34] jan-ivar commented on #599
Yes, or maybe what Chrome [gives me](https://jsfiddle.net/jib1/kga04vLt/)
[code]

The [media element load algorithm](https://html.spec.whatwg.org/multipage/media.html#media-element-load-algorithm) says:

Which is *after* step 3-4 which clears old tasks (silencing events for changes up to that point).

On the one hand, there's no step 8 here that says to fire the `ratechange` event. However, elsewh

[2019-05-31 22:48] youennf commented on #599
Here is my take on jsfiddle: https://jsfiddle.net/sdjq3Laf/ adding a bunch of setTimeout everywhere.
Chrome and Safari have the same behavior in that case. Safari checks for detecting a MediaStream srcObject is not kicking synchronously.

When setting srcObject to MediaStream, the playbackRate is changed from 0.6 to 1, but no corresponding ratechange event is fired.
This seems to go well with your

[2019-05-31 23:05] jan-ivar commented on #599
Yeah I think it makes sense to say the event should to fire both for `0.6`→`1` and `1`→`0.5`, or not at all.

[2019-05-31 23:22] jan-ivar commented on #599
To clear up the fuzziness, [all browsers](https://jsfiddle.net/jib1/kuzptma2/9/) appear to interpret the html media spec to mean events should fire from the load algorithm for `0.6`→`0.5` from `video.src="foo"`, so that points to firing events.

We just have to figure out prose for that.

[2019-06-03 11:00] Pehrsons commented on #599
We should define when this check for a MediaStream starts and stops being valid. I suggest we make it synchronous in the srcObject setter, because of this example:
[code]

I don't find it fuzzy. If you set `playbackRate` to a new value and then run the load algorithm, the "ratechange" event is cancelled. If you set it after having run the load algorithm, "ratechange" is not cancelled (unless the l

[2019-06-03 20:08] jan-ivar commented on #599
After discussing with @Pehrsons, the simplest approach was to revert the PR (https://github.com/w3c/mediacapture-main/pull/600) to what I had originally as of https://github.com/w3c/mediacapture-main/issues/599#issuecomment-496562096, as that's the only version that naturally reverts to pre-stream values.

This should match Chrome behavior. I added a note about the edge case where `ratechange` is

[2019-06-04 15:31] Pehrsons commented on #555
Thanks for the input everyone. I'm about to fix this in Firefox in [bug 1306999](https://bugzilla.mozilla.org/show_bug.cgi?id=1306999). I consider this issue closed.

[2019-06-04 15:31] #555 closed

[2019-06-06 14:48] #599 closed

[2019-06-06 14:52] jan-ivar commented on #597
This API allows user agents to do echo cancellation. How well an implementation does that is generally an issue that should be raised with that implementation, as it is not a spec of web compat issue or issue with the API. That is, unless a separate control surface is needed for different kinds of echo cancellations.

[2019-06-06 14:52] #597 closed

[2019-06-06 15:00] alvestrand commented on #598
At the moment, no change in the spec seems required.

[2019-06-06 20:48] alvestrand commented on #598
Repurposing the "Icebox" label for things that we might want to look at sooner or later due to things changing in the larger Web environment, but no change to spec needed at this time.

[2019-06-06 22:13] youennf opened #604 "oldList definition in enumerateDevices is unclear"
oldList in enumerateDevices seems to be per browsing session.
I guess it should be scoped by document, as groupId is per-document and we also want deviceIds to be partitioned per origin, which oldList might mess up with.

It is also not clear when oldList is set/built/updated. Is it set the first time enumerateDevices is called? Or is oldList the result of the last time enumerateDevices is called?

[2019-06-09 18:26] guest271314 commented on #554
If read the code and intent correctly, would that allow a `<video>` (or any other HTML) element to be selected as a "capture device" (where capture could continue even where the `src` is changed)?

[2019-06-10 04:38] guest271314 commented on #583
@jan-ivar In this case https://bugzilla.mozilla.org/show_bug.cgi?id=1557980 `mute` event of `<canvas>` `MediaStreamTrack` IS dispatched at Chromium when

https://w3c.github.io/mediacapture-main/#event-mediastreamtrack-mute

NOT at Firefox.

[2019-06-11 12:29] henrikand opened #605 "MediaTrackSettings lacks support of channel layout"
Current specification supports channelCount

https://rawgit.com/w3c/mediacapture-main/master/getusermedia.html#def-constraint-channelCount

but this is not sufficient when the track contains more than two channels. In those cases, a channelLayout is also required [1].

[1] https://en.wikipedia.org/wiki/Surround_sound

[2019-06-11 12:56] armax00 commented on #605
Does this means that channelLayout should only be reported but not used to select the input device to be used? Nam

[2019-06-11 12:56] armax00 commented on #605
Sorry mistakenly clicked on the wrong thing.

[2019-06-13 14:52] #549 closed

[2019-07-09 19:39] pes10k opened #607 "fixed, per origin, device ID creates tracking risk"
Problem:
The presence of fixed device IDs creates a signfigant tracking, privacy risk.  This risk is somewhat mitigated by tying their lifetime to cookies, but this in practice is insufficient, since many privacy systems protect their users w/o clearing cookie stores (e.g. Safari's ITP, Brave enforces a fixed life time on JS set cookies, etc.).

In general, fixed id's are dangerous for privacy.

P

[2019-07-09 19:41] snyderp commented on #607
other relaxations on deviceId permanence would also be helpful, such as:
* deviceId = MUST -> MAY in terms of identifier being consistent between visits to the same origin
* set a max life for deviceIds / permissions

Apologies if Im misreading the doc, but I can't find where some of the issues discussed with PING previously have be addressed they way that summary states. Thanks!

[2019-07-09 19:52] youennf commented on #607
https://github.com/w3c/mediacapture-main/issues/598 is tracking this approach.
As per my reading, the spec is not forbidding it but is not enforcing it either.
FWIW, that is what is implemented in Safari.
Device IDs in Safari are also only exposed after getUserMedia permission.

Note also https://github.com/w3c/mediacapture-main/issues/549 that mitigates this tracking.

[2019-07-09 19:58] snyderp commented on #607
Helllo @youennf :

Not sure I follow the above messages.

#598 seems to have concluded that no change is needed, and I don't see anything in the spec at all about double keying anything.  "the spec is not forbidding [the fix] but is not enforcing it either" is not a solution to the problem introduced by the spec :)

Re: "FWIW, that is what is implemented in Safari." Great!  If this is the correct

[2019-07-09 20:07] youennf commented on #607
I am supportive of fixing this issue as well.
This should be done for all data types (IDB, service workers...).
If device IDs are partitioned but not IDB for instance, the tracking is still possible and this might also disrupt apps.

Ideally, there would be somewhere a spec describing how to do partitioning.
Then this spec would just refer to it for deviceIds.
Some work is being done in the fetch

[2019-07-09 23:34] snyderp commented on #607
I agree, it would be good to have a single "storage partitioning, double-keying" definition / spec, but until that exists, we need to deal with the state of standards as is. If future spec comes and makes specifying double-keying in this spec unnecessary, thats great and a perfect reason to revise this spec and remove it.  But in the meantime, it seems we agree that double-keying is necessary, no?

[2019-07-10 00:03] youennf commented on #607
The question is not really about permission.
The major usecase for deviceIds is for the user to do camera/microphone selection once. The website will be able to select again the same devices using deviceIds at next user visit.

The web engine could also remember on its own the user selection and the website could opt-in with a deviceId like 'same-as-last-visit'. If we envision scenarios with multi

[2019-07-10 19:36] snyderp commented on #607
The major usecase for deviceIds is for the user to do camera/microphone selection once. The website will be able to select again the same devices using deviceIds at next user visit.

Totally agree.  I only meant to suggest a different way of having the ability for sites to say "i want x and y that I was allowed to access before, again", w/o consistent unique identifiers (which, AFAIK, totally uniq

[2019-07-16 18:10] youennf opened #608 "Is enumerateDevices list order significant?"
Some OSes allow users to set the default microphone.
Looking at Safari, Chrome and Firefox on MacOS, the first audioinput device in the list is the default system microphone. Chrome and Firefox try to convey that this is the default one using labels/deviceIds.
I do not know of any 'system default' for camera but the same principle could be extended to videoinput devices.

Should we describe this b

[2019-07-18 06:47] armax00 commented on #608
In reply to the second question, I have the suspicion that it is indeed the case that if only selecting true for both, one would end up with the default device because is the device with "best fit" in such a case than any other device.

With respect to the first question, would formalizing that behavior bring something to the developer that otherwise was not already available? What I mean is that

[2019-07-18 13:43] eric-carlson commented on #608
Why is the default device necessarily the "best fit", unless the spec says so.

The developer can only select the default device explicitly with 'deviceId` if they know the id of the default device. How do they do find the id of the default device?

[2019-07-18 20:55] youennf commented on #608
Yes, the spec does not talk about best fit.
The spec says that "User Agents are encouraged to default to using the user's primary or system default camera and/or microphone (when possible) to generate the media stream".
If the default camera/mic are first in the enumerateDevices list, everything seems more consistent.

Some web developers are interested in picking the default system device (at lea

[2019-07-20 07:27] CherryKitty commented on #573
Remove "onoverconstrained" re-upload #579

[2019-07-20 07:29] CherryKitty opened #610 "Violation."
This is a violation of privacy

[2019-07-20 08:13] lgrahl commented on #610
Which is why you can refuse permission.

[2019-07-22 14:54] guest271314 opened #611 "Remove "The relative order of the tracks in the set is User Agent defined and the API will never put any requirements on the order.", et al."
Specify that when there is both an audio and a video track in a `MediaStream` the order of the `id` must be audio `0`, video `1`.

Relevant specification language

If a `MediaStream` contains only a single track of kind audio or video nothing can be done, besides creating a complementary track for each missing track in the next file.

If a `MediaStream` contains both audio and video then the order

[2019-07-22 16:30] youennf commented on #611
This seems like an issue to mediacapture-record spec, not media capture-main.

There was a similar issue with the order of tracks for addStream and adapter.js did a fix (https://bugs.webkit.org/show_bug.cgi?id=198402). I wonder whether this could cause trouble elsewhere.

[2019-07-22 23:23] guest271314 commented on #611
@youennf This specification is controlling as to track order, not `MediaRecorder`, correct? `MediaRecorder` specification authors could simply refer to the current language of this specification and state that  "the API will **never** put any requirements on the order."  As mentioned at OP the order the tracks appear in the actual WebM file is arbitrary, as demonstrated by the output of `mkvmerge

[2019-07-22 23:52] guest271314 commented on #611
@youennf Own interest in the track order stems from the yet unmet task of porting `mkvmerge` to JavaScript. In lieu of a full port of the program written by hand and/or using Emscripten and/or `WebAssembly`, composed code that uses Native Messaging and Native File System in order to effectively use `mkvmerge` in the browser. While doing so encountered several issues with how the WebM files of brow

[2019-07-24 03:02] jan-ivar commented on #607
@snyder Isn't it the opposite? Future partitioning of cookies and localStorage wouldn't make this unnecessary. Rather, it would seem like a prerequisite for the suggested mitigation to matter.

They would be able to do that today without this spec using:
[code]
So where is the issue?

If the lifetime is tied to cookies, and Brave enforces fixed life time of cookies, doesn't that mitigate it?

The

[2019-07-24 19:06] snyderp commented on #607
We might be saying the same thing here, but my point is that "if double keying isn't standardized somewhere else" (as it currently isn't) then it needs to be specified here, even if that text ends up being made redundant by future work.

Some browsers do, and more seem to plan to, take steps to make the above non harmful (again double keying, blocking storage in 3p frames, etc.).  So that problem

[2019-07-24 21:27] youennf commented on #607
The spec should probably describe this issue. It could recommend to use partitioning and/or some other mitigations.
It seems difficult right now to mandate partitioning if IndexedDB is not partitioned for instance.
This might not provide much benefit and might break valid websites using a WebRTC SDK iframe.

These mitigations might make partitioning less of an issue.
Since there seems to be intere

[2019-07-24 22:57] jan-ivar commented on #607
I'm saying the opposite: if double keying of both cookies and localStorage isn't standardized—which I doubt will ever happen, as it would break lots of stuff—then double-keying deviceIds seems futile. E.g.:
[code]
My take on mediacapture's *"treat ... deviceId as ... cookies ... are treated."* is we're trying to avoid creating a new class of problems. I.e. whatever makes sense for cookies makes se

[2019-07-24 22:59] jan-ivar commented on #607
Put differently: deviceIds are useless if cookies and localStorage have been cleared. The whole point was for *getUserMedia* to recognize and accept ids the JS has stored from a previous visit.

[2019-07-24 23:07] youennf commented on #607
Safari is implementing partitioning for localStorage, IDB, service workers without too much breakage. Cookies is indeed another story.

It seems like you are advocating for some form of partitioning.
You might end up having different deviceIds for the same resource, be it loaded as a main frame (persistent ids) or loaded as a third-party iframe (non persistent ids).

[2019-07-24 23:09] snyderp commented on #607
This is already underway in some vendors, and some deployments.  Whether or not it makes it way up into a full recommendation (🤞) , it would be good to make sure this standard doesn't make that work _more_ difficult.  E.g. double keying deviceIds will help on those platforms / configurations today, and will help everywhere if / when double keying goes "general".

Sorry but i'm not following here.

[2019-07-24 23:32] jan-ivar commented on #607
You mean only lifetime of C is capped here? Or does this extend B's lifetime? I'll assume the former.

Cleared on day 9 (7 days after first creation), if I got your cookie logic right.

The point of the deviceId is to let JS recognize a previously used device even if it's been disconnected and reinserted since last visit.

Double-keying deviceIds without double-keying cookies would break https://g

[2019-07-25 14:48] #551 closed

[2019-07-25 14:48] youennf commented on #551
Fixed by #587

[2019-07-26 21:47] snyderp commented on #607
@jan-ivar I'm not quite following the suggestion, because other cookies don't have a capped lifetime (HTTP set cookies), and the cookie jar doesn't clear after 7 days, just the lifetime "at set" of each individual cookie is reduced, so its not clear to me how any of this lines up with the text in the standard, which says `reset per-origin device identifiers when other persistent storage are cleare

[2019-08-15 13:53] alvestrand commented on #611
Deep in the beginning of the group, people were arguing for various forms of ordering of tracks within a stream (first-added et al). In the end we decided that no agreement was to be reached on how order could be defined, and that applications would just have to be explicit about which tracks were active. (The place it mattered at the time was when playing into an HTML media element.)

I think the

[2019-08-15 13:54] alvestrand commented on #608
Some platforms have multiple default devices (Windows: Comms device / media device).

[2019-08-15 14:00] alvestrand commented on #607
The use of "3" instead of an unique ID requires that "3" be stable in the face of unplugging devices and plugging them back in.

[2019-08-15 14:32] alvestrand commented on #610
Issue does not have enough information to take action.

[2019-08-15 14:32] #610 closed

[2019-08-15 14:35] #611 closed

[2019-08-15 14:38] alvestrand commented on #605
This seems to be one of the aspects that need to be solved for 5.1/7.1 audio in WebRTC.

[2019-08-15 14:38] alvestrand commented on #605
Need to sync with the OPUS definition.

[2019-08-15 15:41] snyderp commented on #607
@alvestrand one option would be to just have the browser keep track of that per origin, double keyed.  So if i plug in webcam1, it gets "1", if i unplug it and plugin webcam2, it gets "2", if i unplug webcam2 and plug back in webcam1, its still "1", etc.  The browser would need to track the same amount of state as it would in the current proposal, but w/o unique ids, no?

[2019-08-15 15:46] youennf commented on #607
At least in WebKit, this proposal requires more state to store.
WebKit is currently storing a single salt per partitioned origin.
This salt is used to generate an origin-unique deviceId based on the OS-provided deviceId.

[2019-08-15 20:02] snyderp commented on #607
Ah, i see, fair point, implementation specific, I over spoke :)

So, more bytes, but same number of buckets (e.g. one bucket per origin per top level origin).

But, anyway, surely the issue here isn't storage space on disk ;)

[2019-08-21 13:00] snyderp opened #612 "Move enumerateDevices behind permission"
Currently websites can enumerate hardware capabilities with enumerateDevices().  Querying device capabilities is the kind of pseudo-identifier that allow users to be passively identified / fingerprinted.  To prevent this, websites should, to the greatest degree possible, need user permission to query device capabilities.  Websites should therefor need permission to access enumerateDevices().

Rela

[2019-08-21 13:58] guidou commented on #607
Chromium follows a similar approach as WebKit and maintaining consistency for the 1,2,3... IDs entails more complexity than extra storage space on disk.
What about using empty IDs if a permission has not been given? It would still support the use case of detecting the addition/removal of a device to enable/disable features in the application and would mitigate the tracking concerns for users that

[2019-08-21 15:46] Ms2ger opened #613 "Update spec to new IDL syntax for optional dictionaries"
See heycam/webidl#758

[2019-08-21 20:43] guest271314 opened #614 "Why does unmute event take between 30 to 60 seconds to dispatch? Does a canonical procedure exist to estimate when unmute will be dispatched?"
**Background**

At Chromium 78 neither `VP8` nor `VP9` codecs passed to `mimeType` of `MediaRecorder` result in the correct `width` and `height` of the underlying `MediaStreamTrack` are recorded and encoded into the resulting media file https://bugs.chromium.org/p/chromium/issues/detail?id=972470, https://bugs.chromium.org/p/chromium/issues/detail?id=983777. Chromium also has a bug where the `Medi

[2019-08-21 21:09] guest271314 commented on #614
Just ran the code at the linked plnkr. `unmute` event took over 3 minutes to be dispatched according to `performance.now()`

`188.17474499996752/60 // 3.1362457499994587`

Is `unmute` expected to take between 30 seconds and 3 minutes to be dispatched?

[2019-08-22 09:51] alvestrand commented on #614
Why is this filed as a specification bug?
Is there anything that needs changing or clarifiication in the specification based on what you're writing?

If not - please refile as a Chrome bug. https://crbug.com/

[2019-08-22 09:58] snyderp commented on #607
@guidou I apologize, but I'm not certain I follow the suggestion (im sure I'm just being dense).  If I understand, the same page, framed on two different top level domains, would be able to track a user through the same, re-occuring device-ids, once the user gives permission for the device, right?

So i think that addresses one of the concerns (that sites can easily get unique, persistant ids), bu

[2019-08-22 14:23] #545 closed

[2019-08-22 14:24] alvestrand commented on #530
Assumed fixed by #53

[2019-08-22 14:24] #530 closed

[2019-08-22 14:25] alvestrand commented on #520
Can this be closed based on #521 being merged?

[2019-08-22 14:30] alvestrand commented on #523
The volume attribute has been deleted, so this is OBE.

[2019-08-22 14:30] #523 closed

[2019-08-22 14:31] alvestrand commented on #523
I'm misunderstanding my own issue; it was not about the "volume control" attribute. But I think this can be done adequately by webaudio. Closing.

[2019-08-22 15:05] guest271314 commented on #614
@alvestrand Am asking for clarification as to the mechanism which dispatches `unmute` event at a `MediaStreamTrack` of `kind` `"video"`.

Why does the process take up to 3 minutes?

Is that question considered an implementation detail?

Is there a canonical procedure defined by the specification to estimate or determine the length of time that is required for `unmute` to be dispatched?

Without an

[2019-08-22 15:15] guest271314 commented on #614
@alvestrand Another way to ask the question is what steps can a developer takes, relevant to the specification language, in order to reduce the time it takes for `unmute` to dispatch?

Are there no measures a developer can take to decrease the time it takes for `unmute` to be dispatched? Could be 30 seconds, could be 3 minutes, could be 3 hours?

Is `mute`/`unmute` literally _completely_ out of th

[2019-08-23 02:31] #614 closed

[2019-08-24 08:24] vr000m commented on #612
@pallab-gain @karthikbr82 Please take a look

[2019-08-24 16:12] pavelserbajlo commented on #585
I understand the intent here, but removal of this has caused a regression for us as we'd rely on this in order to normalize our comparative audio pipeline processing in Chrome. Since decision has been made to remove this, what are the other ways to read the microphone input gain for the developers?

[2019-08-26 08:27] youennf commented on #612
enumerateDevices has a "device-info" permission (https://w3c.github.io/permissions/#dom-permissionname-device-info). This permission is granted when getUserMedia is granted. This permission controls exposure of device labels currently, not exposure of devices.

Safari goes a bit further by obfuscating most information about devices if 'device-info' is not granted: it obfuscates most devices. This

[2019-08-26 09:59] guidou commented on #607
@snyderp Once permission is  given, pages can use the label field to do the tracking, regardless of device IDs.

[2019-08-26 10:03] guidou commented on #607
An extra measure that can be taken to prevent tracking when permission has not been given is to list at most one entry per device kind (in addition to showing empty IDs)
This way, the number of devices becomes largely useless for tracking (only 8 possible outputs) but the use case of enabling and disabling features prior to authorization based on the presence of input devices can still be supporte

[2019-08-26 10:31] youennf commented on #607
@guidou, is it something that could be implemented in Chrome?
I believe that what you are proposing is inline with what Safari does and what Mozilla has in mind.
This could be the foundation to fix #612 and would greatly reduce the severity of this issue.

Some additional questions:
1. Is there a use to expose audio output devices when device-info permission is not granted?
2. If example.com main

[2019-08-26 11:28] guidou commented on #607
@youennf That can be implemented in Chrome if we all agree that this is the way to go. We would have to confirm that no important regressions occur in applications using enumerateDevices().
1. In Chrome, if no device permission has been granted, the output devices appear in the enumeration with an empty label field.
2. If the embedded iframe is in the same domain, yes. If it's a cross-domain ifram

[2019-08-26 12:32] youennf commented on #607
Good to know. We will discuss this at TPAC, hopefully we can get agreement there.

The fact that Safari implements this behaviour gives some confidence that this is shippable although websites, especially Chrome specific ones, might have to adapt.
I guess some statistics could be gathered like pages doing an enumerateDevices call before doing a getUserMedia call.

[2019-08-26 18:42] guidou commented on #607
In Chromium, the labels are the same for all domains (provided it's the same devices) and (together with a cookie) are probably as good for tracking as device IDs .

In Chromium it is single keyed. The device IDs are the same for third-party.com in both cases and are different from the IDs seen by 1p. If permissions are given, the labels are the same everywhere.

[2019-08-28 22:57] jan-ivar opened #615 "When is a MediaStream playing?"
Consider setting an empty stream on an element and adding a track later. When is it playing?
[code]

[mediacapture-main says](https://w3c.github.io/mediacapture-main/#mediastreams-in-media-elements): *"A MediaStream is not preloadable or seekable and represents a simple, potentially infinite, linear media timeline. The timeline starts at 0 and increments linearly in real time as long as the* ***Me

[2019-08-29 08:54] Ms2ger opened #616 "Update to constructor operations"
See https://github.com/heycam/webidl/issues/778.

[2019-08-29 12:48] Pehrsons commented on #615
I updated the [fiddle](https://jsfiddle.net/pehrsons/5vg8zaf4/) to first add a video track that hadn't seen any frames yet (to have a track but not advance the media element's readyState). It shows Firefox 70 not adhering to "potentially playing" as it fires the first `timeupdate` after the frameless track is added. Chrome fires its first `timeupdate` after `canplaythrough` a la "potentially playi

[2019-08-29 13:49] jan-ivar commented on #615
I think we should fix Firefox there.

[2019-08-29 14:03] Pehrsons commented on #615
[Bug 1577505](https://bugzilla.mozilla.org/show_bug.cgi?id=1577505) filed.

[2019-08-30 14:05] youennf commented on #604
https://jsfiddle.net/63Lorgkq/

[2019-08-30 18:59] snyderp commented on #607
I think im getting lost in the conversation.  Here is a summary, as I understand it, of where things stand:

1) `enumerateDevices` will instead return on entry per device type (audio, video, etc), and that entry will have neither labels not device IDs
2) Once a user gives a site access, the site can learn the true label for the device

The parts I'm still not following are whether we're getting cl

[2019-09-04 15:26] kuddai opened #619 "non-applicable constraints must be ignored for remote tracks"
In the presence of  ["Clarify what happens to non-applicable constraints"](https://github.com/w3c/mediacapture-main/pull/542) and https://w3c.github.io/webrtc-pc/#mediatracksupportedconstraints-mediatrackcapabilities-mediatrackconstraints-and-mediatracksettings

should we just ignore such members as latency or echoCancellation on remote audio tracks instead of throwing OverconstrainedError? By rem

[2019-09-04 21:22] jan-ivar commented on #619
This was [recently](https://github.com/w3c/mediacapture-main/pull/594) clarified by [this note](https://w3c.github.io/mediacapture-main/getusermedia.html#media-track-supported-constraints): *"The constraints specified in this specification apply only to instances of MediaStreamTrack generated by getUserMedia(), unless stated otherwise in other specifications."*

For example, [mediacapture-screen-s

[2019-09-04 21:22] #619 closed

[2019-09-05 06:58] kuddai commented on #619
I wasn't specific enough. It is more like Chrome specific issue. On Firefox I got consistent behavior. If I try to apply "latency" constraint to either audio or video track on RTCRtpReceiver then I got OverconstrainedError with rejected promise.

On Chrome however, I will get OverconstrainedError for audio track and resolved promise for video track on RTCRtpReceiver.

[2019-09-05 07:30] armax00 commented on #619
For incosistent behavior on Chrome please file a bug on crbug.com.

Cheers,
A.

On Thu, Sep 5, 2019 at 8:58 AM Ruslan Burakov <notifications@github.com> wrote:

[2019-09-06 07:59] youennf commented on #604
Above jsfiddle.net tends to show that browsers do not implement step 3 of https://w3c.github.io/mediacapture-main/#dom-mediadevices-enumeratedevices.

Also, step 8.2 is not very clear in whether filteredList is a deep clone or not of resultList.
If not, the same object would be returned but the label getter would return the label conditionally on the 'device-info' permission. This is probably wort

[2019-09-06 08:18] youennf opened #620 "MediaDeviceInfo reuse in successive calls of enumerateDevices is not clear"
As shown by https://jsfiddle.net/63Lorgkq/, browsers currently always return new MediaDeviceInfo objects for every enumerateDevices calls.
This goes against step 3 of https://w3c.github.io/mediacapture-main/#dom-mediadevices-enumeratedevices.

Updating the fiddle to do capture between enumerateDevices calls give the same results (https://jsfiddle.net/x2Lnmcyw/).

In addition, step 8.2 of https://w

[2019-09-09 22:21] tabatkins opened #621 "getUserMedia() and getSupportedConstraints() don't have useful `lt` values"
So, this *looks* like a problem in ReSpec itself, not the spec document, but for whatever reason, the `dfn` for getUserMedia() has busted/incorrect `lt` values.

In particular, in the rendered source, it has `data-lt="mediadevices.getusermedia()|mediadevices.getusermedia|getusermedia()|getusermedia"`.

Every single one of these is wrong, because all of the casing has been lost. Thus, when Bikeshed

[2019-09-09 22:22] tabatkins commented on #621
(This is borking Web Audio, which has no correct way to link into this spec right now, and instead has to do it manually, see <https://github.com/WebAudio/web-audio-api/issues/2054>.)

[2019-09-10 09:49] dontcallmedom commented on #621
we are using an outdated version of ReSpec - I've prepared an upgrade which I believe will fix this problem. Thanks for letting us know!

[2019-09-13 13:33] henbos commented on #605
This is my current understanding after having talked with @henrikand:

The implementation's channel count and layout is tied to WebAudio, see its [channelInterpretation](https://developer.mozilla.org/en-US/docs/Web/API/AudioNode/channelInterpretation). The number of channels seem to map to a specific channel layout, e.g. 6 channels = "5.1" = L, R, C, LFE, SL, SR. You couldn't have a different layo

[2019-09-13 23:52] guest271314 commented on #584
Does this only affect `MediaStreamTrack` from `getUserMedia()`?

Chromium does provide `resizeMode` constraint when the track is derived from `HTMLVideoElement.captureStream()` though AFAICT no value that is set has any impact on the resulting video track.

Further, Chromium provides `getSettings()` for tracks derived from `HTMLVideoElement.captureStream()` which ultimately outputs incorrect resul

[2019-09-16 09:14] henbos commented on #584
Sometimes it makes sense to have the same constraints for tracks sourced by other means than GUM, and sometimes it does not. It has not been clear in the past. Going forward: Each spec needs to explicitly say which constraints are applicable to its tracks. I.e. captureStream() has to explicitly say that it supports crop-and-scale if that is something it does.

Chromium assumed that constraints app

[2019-09-19 00:13] guest271314 commented on #615
When `await play()` is used at Chromium 78  `timeupdate` event is not dispatched. `play` event then `waiting` event are dispatched.

Firefox 68 and Nightly 70 throw `MediaStreamError`
​
[code]

[2019-09-19 00:24] guest271314 commented on #615
@Pehrsons When `await play()` is used `timeupdate` is not reached https://jsfiddle.net/4qu2dy1o/.

[2019-09-19 00:43] guest271314 commented on #615
Interestingly this line

`console.log((await video.play()) instanceof Promise, "Is play() a Promise?");
`
does not have any output.

[2019-09-19 06:18] Pehrsons commented on #615
@guest271314 If you find implementation bugs, please file them directly with the implementations. Chromium: crbug.com, Firefox: bugzilla.mozilla.org

[2019-09-19 08:09] guest271314 commented on #615
@Pehrsons https://bugzilla.mozilla.org/show_bug.cgi?id=1582380, https://bugs.chromium.org/p/chromium/issues/detail?id=1005654.

[2019-09-20 00:26] samuelweiler opened #625 "broken link to #deviceid"
https://w3c.github.io/mediacapture-main/#deviceid  doesn't seem to go anywhere.  (link found in section 10.5)

[2019-09-25 12:12] kuddai commented on #619
https://bugs.chromium.org/p/chromium/issues/detail?id=1007933

[2019-09-26 11:06] alvestrand commented on #598
Since this was re-raised by PING at TPAC 2019, and the resolution of the group seemed to be that this change was warranted, I'm taking "icebox" off again.

The relevant (proposed) privacy principle is here:

https://github.com/michaelkleber/privacy-model#identity-is-partitioned-by-first-party-site

[2019-09-26 14:56] #565 closed

[2019-09-26 14:58] henbos commented on #584
Reopen to update the sentence according to TPAC conclusion:

[2019-10-07 11:35] youennf opened #628 "applying constraints on an ended track"
I did https://jsfiddle.net/2kpdbnyz/ to test applyConstraints and getSettings on an ended track.
Testing Firefox, Chrome and Safari, all browsers behave differently:

- Firefox is resolving applyConstraint promise for ended track, getSettings returns an empty dictionary for ended tracks
- Safari tis resolving applyConstraint promise for ended track, getSettings returns some parameters that applyCo

[2019-10-08 12:17] alvestrand commented on #628
After a track is ended, it shouldn't matter what the constraints are - it won't affect the output (there is none).

deviceId / groupId would seem to make sense to return, because it tells you what the track is attached to - this is info that could let you try to reopen the device, if so desired. I could argue that the other settings should be frozen in time as they were when the track ended, but i

[2019-10-09 10:30] youennf commented on #612
One possibility discussed on the mailing list is:
- Remove "device-info"permission
- Allow unfiltered enumerateDevices results (and devicechange events) ONLY if getUserMedia was previously called successfully for the document.
This would essentially put enumerateDevices behind the getUserMedia permission prompt.

[2019-10-09 15:13] guest271314 opened #629 "Support capturing audio output from sound card"
Add the capability to capture audio output from sound card. Whether headphones are plugged in or not it should be possible to capture audio output from the system soundcard.

`navigator.mediaDevices.getUserMedia({audio:{speakers:true}})`

or

`navigator.mediaDevices.getUserMedia({audio:{headphones:true}})`

or

`navigator.mediaDevices.getUserMedia({audio:{output:true}})`

Fixes

- https://github.c

[2019-10-11 22:08] alvestrand commented on #629
Why does this need special treatment?
Wouldn't a sound card just be another input device?

[2019-10-12 01:07] guest271314 commented on #629
When `let stream = navigator.mediaDevices.getUserMedia()` is executed the options currently available are microphone and camera. When `enumerateDevices()` is used to get the `deviceId` of `"audioouput"` then `stream = await navigator.mediaDevices.getUserMedia({audio:{deviceId:{exact: deviceId}}})` needs to be executed _again_.

There should be a means to directly select `"audioutput"` at the promp

[2019-10-12 15:53] guest271314 commented on #628
FWIW the implementations of `MediaStreamTrack` at Chrome, Chromium and Firefox, Nightly are _vastly_ different in several observable ways.

Have not yet compiled a discrete list of all of the differences that have observed through own experimentation and testing, though can compile such a list if that would be helpful for interoperability and if the gist of this issue is

which agree with.

Some d

[2019-10-12 16:10] guest271314 commented on #615
One interesting observable difference between Chromium, Chrome and Firefox, Nightly re when a `MediaStream` is playing is when a `MediaStream` is set as `srcObject` of an `HTMLMediaElement` and the pause control is clicked

**Chromium**

`currentTime` continues to increment during the paused state

**Firefox**

`currentTime` does not increment during the paused state

[2019-10-12 16:49] guest271314 commented on #629
@alvestrand Firefox lists

(emphasis added) at `getUserMedia()` prompt, Chromium does not.

[How To Record Speaker Output on Linux](https://www.addictivetips.com/ubuntu-linux-tips/record-speaker-output-on-linux/)

Firefox requires executing `navigator.mediaDevices.getUserMedia()` before `navigator.mediaDevices.enumerateDevices()` to avoid an exception being thrown.

Firefox throws an `OverConstrai

[2019-10-12 17:09] guest271314 commented on #629
At https://w3c.github.io/mediacapture-main/#methods-5

does a PR need to be filed to explicitly include `"audiooutput"` at

?

[2019-10-14 13:35] Pehrsons commented on #615
I'll add a testcase for that over in https://bugzilla.mozilla.org/show_bug.cgi?id=1588507.

[2019-10-14 14:43] guest271314 commented on #615
@Pehrsons It is not clear - from perspective here - if the relevant specification (this or capture from element) states what should occur as to `currentTime`  when the pause control is activated by the user. What is your reading of the specification(s) for that case?

[2019-10-14 14:55] Pehrsons commented on #615
It is pretty clear to me (see below). mediacapture-fromelement has no say here.

[mediacapture-main](https://w3c.github.io/mediacapture-main/#mediastreams-in-media-elements) says this about currentTime when srcObject is a MediaStream (in the table, for the currentTime row):

I cannot imagine the intention of "playing" to include when the media element is paused, even if "playing" isn't well define

[2019-10-14 14:57] guest271314 commented on #615
This is the code used https://github.com/w3c/mediacapture-main/issues/628#issuecomment-541337186.

Technically, the media stream is still playing even when the specific media element where `srcObject` is set to the `MediaStream` is paused. Consider more than one media element having the same `MediaStream` as source. Simply because one media element is paused does not translate into the `MediaStrea

[2019-10-15 06:31] guest271314 commented on #615
@Pehrsons The linked code was intended to be an infinite media stream using the available `timeupdate` event to to push a frame to be created and added to the stream.

Another difference between Mozilla Firefox, Nightly and Chromium, Chrome implementations  relevant to playback

Chromium requires execution of code which creates and requests a frame at the first `unmute` event of video `MediaStream

[2019-10-15 14:09] Pehrsons commented on #615
There is no concept of playing for a MediaStream. There is no concept of playing for a MediaStreamTrack. There is a concept of playing for HTMLMediaElement.

Yes, data is flowing under MediaStreamTracks even when no HTMLMediaElement is playing them. That's because there is no buffering of data (in MediaStreamTrack *or* HTMLMediaElement), and regardless of them playing or not playing in any HTMLMed

[2019-10-15 14:55] guest271314 commented on #615
@Pehrsons

The title of this issue is

Not sure what you are referring to specifically here. At Firefox when the first frame is received `timeupdate` is dispatched which apparently leads to `timeupdate` being dispatched at `HTMLMediaElement`. Chromium does not dispatch `timeupdate` when the first frame is received evidenced by `currentTime` remaining at `0`.

Did not ask for the code to be debugge

[2019-10-15 15:13] guest271314 commented on #615
@Pehrsons

Can you cite and explain the specification reasoning behind `currentTime` not incrementing at Firefox when the pause control is activated by the user and throughout the paused state - even though the `MediaStreamTrack` is still "playing" (not `mute`, `enabled`, and is receiving frames)? E.g., when a `<video>` with `MediaStream` set at `srcObject` is paused by user activation, within the

[2019-10-15 15:40] Pehrsons commented on #615
See https://github.com/w3c/mediacapture-main/issues/615#issuecomment-541727689.

Note that the only references to "playing" in mediacapture-main are in relation to HTMLMediaElement, which is why I draw the conclusion that MediaStreams and MediaStreamTracks themselves don't have a concept of playing. The intent of mediacapture-main seems to be to refer to a HTMLMediaElement playing the MediaStream.

[2019-10-15 16:50] guidou commented on #615
I agree with @Pehrsons interpretation. We should change mediacapture-main to say "potentially playing" so that it better aligns with the media element spec.
Filed crbug.com/1014541 to track the bug in Chrome.

[2019-10-15 23:17] guest271314 commented on #615
@Pehrsons In the midst of attempting to test playback after updating Firefox and Nightly all of a sudden `getUserMedia({video:true})` "stopped working" throws an error or exception though `getUserMedia({audio:true})` does not https://bugzilla.mozilla.org/show_bug.cgi?id=1588939. Not sure if the issue is related to https://stackoverflow.com/questions/57419954/navigator-mediadevices-getusermedia-not

[2019-10-16 07:21] Pehrsons commented on #518
Note that I have patches for WPT for this written up based on the behavior in the HTMLMediaElement spec (given that a MediaStream becoming inaudible/inactive synchronously ["ends playback"](https://html.spec.whatwg.org/multipage/media.html#ended-playback), i.e., triggering [these steps](https://html.spec.whatwg.org/multipage/media.html#reaches-the-end) -- basically the case of `The current playbac

[2019-10-16 07:23] Pehrsons commented on #518
There's also the timing of state changes and events. mediacapture-main suggests they be changed/fired synchronously, but that's not what the media element spec does.

[2019-10-17 01:24] NalaGinrut opened #630 "A privacy concern of "Media Capture and Streams""
Hi folks!
The PING is trying to review the privacy issues of WebAudio, and I was told that one of my concerns should be asked in `media capture`.
Here's[ the original discussion](https://github.com/w3cping/tracking-issues/issues/13#issuecomment-542721994), it's appreciated if anyone could provide further information, thanks! cc @svgeesus

[2019-10-17 06:43] youennf commented on #630
Is it fair to describe your concern as: user agents may decide to prompt the user once for microphone access and will store that permission indefinitely so that web sites could from time to time access the microphone without explicit user permission?

[2019-10-18 11:20] NalaGinrut commented on #630
hi @youennf
Let me elaborate it in details:
1. Users may decide to give the MIC permission just once, and the next time, the explicit permission is required;
2. Users may choose to give the MIC permission permanently till the session is expired.
I asked it to confirm if there's a similar mechanism in the current design.

[2019-10-18 14:58] NalaGinrut commented on #630
@youennf Thanks for the explanation!

I think a clear guideline will be helpful to push it further. Of course, although the implementation may choose to ignore it, it's still possible to negotiate after making the rule explicit.

On the other hand. Is it possible to add one-shot API or parameter to distinct 2 different activities explicitly? I think the final decision could be made by the WebApp a

[2019-10-18 14:58] jan-ivar commented on #630
cc @snyderp

[2019-10-18 15:37] jan-ivar commented on #630
@NalaGinrut thanks, I share your concerns. Thanks for raising them!

This is why Firefox supports "single-use" (until stream is [stop](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediastreamtrack-stop)ped), with opt-in to `☐ Remember this decision` in our permission prompts. Does this cover both your use cases?

That is one way to go. However, I worry how many sites would opt in

[2019-10-18 23:41] snyderp commented on #630
@jan-ivar @NalaGinrut thanks for the discussion and pulling me in.  My feeling is the same as @jan-ivar 's, that its not sufficient to design web standards to allow well behaved sites to behave well, but to also prevent malicious sites from being malicious.

Is this double keyed? My understanding is yes, that the spec _requires_ permissions to be double keyed.  But I'd like to double check my unde

[2019-10-19 02:02] NalaGinrut commented on #630
hi @jan-ivar

Yes, from the perspective of the behavior, it's exactly what I expect. ;-)
Here's my extra question about `media-stream-track-stop`:

This description is a bit vague for me, what are the `other MediaStreamTrack objects`? I'm not sure if it's possible to hijack the related MediaStreamTrack objects so that hijack the MIC.

Yes, I agree with you. My proposal is in the hope that people c

[2019-10-19 23:35] guest271314 commented on #630
Good question.

There does not appear to be a concrete example in code at the specification.

Following the link to "stopped" "source" appears to be referring to the media source device.

Consider attempting to reproduce the language of the specification in code

[code]
navigator.mediaDevices.getUserMedia({video: true})
.then(stream => {
  const video = document.createElement("video");
  video.mut

[2019-10-20 14:57] jan-ivar commented on #630
A source is stopped when all its tracks are either stopped or garbage collected, e.g. when `otherTrack.stop()` is called in @guest271314's example.

[2019-10-20 23:13] jan-ivar commented on #630
I believe Chrome grants to top-level origin, which delegates permission through feature policy. This is what Firefox plans to implement as well.

The benefits are comparable to double-keying: no permissions are persisted to the iframe's origin, by itself or across different top-level origins.

[2019-10-23 07:47] NalaGinrut commented on #630
@guest271314 Thanks for the code!
May I ask why the clone can hang with the original object? I guess there are some references are shared between them. If it's pure functional (referential transparency).
For a specific implementation, it is the author's decision whether to make it pure functional. But I'm concerning that if it's proper to propose it to be impure in a standard spec. This makes me c

[2019-10-23 14:33] guest271314 commented on #630
The code attempts to reproduce the language of the specification, and is probably not the only means available to achieve that output.

Not sure what you mean. How and what exactly would a malicious script be hijacking?

[2019-10-23 15:11] youennf commented on #554
I wrote an initial draft at https://youennf.github.io/media-capture-automation/media-capture-automation.html.
Comments most welcome.

[2019-10-23 15:35] NalaGinrut commented on #630
I understand your code attempts to reproduce the specification, and I have no question with how you write the code. My question is trying to figure out why the spec permits the other object to hook the object which has enabled MIC even temporarily. Usually, if a clone operation copied all the subtree of an object, then it's ought to be collected by GC. But it seems not here.

If I understand it co